[2019-10-09 22:29] andrewrynhard opened #1 "How can we help?"
This seems very appealing for usage in https://github.com/talos-systems/talos. I'm curious if there is any way we might be able to help? I would love to help bring this to a state where it is production ready.

[2019-10-10 03:54] ktock commented on #1
@andrewrynhard Thanks a lot for your interest!

Any contribution, discussion and bug reporting, etc. are welcome. The discussion is mainly on [#3731@containerd](https://github.com/containerd/containerd/issues/3731).

Could I ask how do you intend to use this remote snapshotter for your products? Currently, we are on the discussion stage, so we keen to hear as many use cases to support as possible.

[2019-11-08 04:29] ktock opened #2 "Make unionfs pluggable"
Related to:
- [#3731@containerd](https://github.com/containerd/containerd/issues/3731#issuecomment-548115085)

Currently, we use overlayfs to merge each remote layer. So to use a different union filesystem (e.g. btrfs) we need to re-implement the snapshotter .

We can solve this issue by make union filesystem pluggable to this remote-snapshotter.

[2019-11-08 04:31] ktock opened #3 "Support layer propagation to registries for image conversion on the fly"
Related to:
- [#3731@containerd](https://github.com/containerd/containerd/issues/3731#issuecomment-548115085)
- [#5913@knative/serving](https://github.com/knative/serving/issues/5913)

Currently, this remote snapshotter only supports __reading__ layers. So we need to pre-process(e.g. stargzify) and push an image to a registry in advance to make it usable as "remote layers" from this snapshotter.

[2019-11-09 04:15] AkihiroSuda commented on #2
How will btrfs work with this?

[2019-11-09 05:29] ktock commented on #2
I don't have any idea yet :thinking:
@dprotaso Did you have any intention/use-case/idea about using different unionfs when you commented on [#3731@containerd](https://github.com/containerd/containerd/issues/3731#issuecomment-548115085)?

[2019-11-09 05:39] AkihiroSuda commented on #2
that's not my comment

[2019-12-12 09:34] siscia opened #7 "Add reference of image to FileSystem.Mount() call."
Hi all,at the moment the FileSystem mount interface take as input the reference of the image, the digest of the layer and the mountpoint.

[code]

I have some doubts about the use of the reference of the image.

For us, cvmfs+unpacked, it would be much more beneficial to have the digest of the image, something like sha256:.... instead of the reference library/redis.

This would allow us to kind of

[2019-12-13 08:09] ktock commented on #7
@siscia Thank you for opening this issue! I agree that rootfs-driven filesystems require the digest of the image.

 I'm thinking to add the digest of the image's manifest to the API. [A manifest contains layer digests](https://docs.docker.com/registry/spec/manifest-v2-2/#example-image-manifest) so the manifest's digest corresponds to the image contents and can be used as an "image digest".

[code]

[2019-12-13 09:29] siscia commented on #7
That would be wonderful!

Let me know if you need anything from my side!

[2019-12-27 04:49] ktock opened #9 "Enable to run optimize command by non-root user"
Currently, [optimize](https://github.com/ktock/remote-snapshotter/tree/master/cmd/optimize) command requires root privilege. We should enable to run it by non-root user.

It is mainly because optimize command uses overlayfs to make rootfs environment for a container. [fuse-overlayfs](https://github.com/containers/fuse-overlayfs) would be good alternative for overlayfs.

[2019-12-28 19:39] AkihiroSuda commented on #9
Ubuntu and Debian 10 support real overlayfs

[2020-01-04 11:20] AkihiroSuda opened #12 "Suggestion: rename `ctr` to `rctr` for avoiding name conflict"

[2020-01-04 11:23] AkihiroSuda opened #13 "snapshotter (`containerd-stargz-grpc`) should start up with default config when the config file is missing"
Currently rsnapshotd doesn't start up when the config file is missing

[code]

[2020-01-04 13:26] AkihiroSuda opened #14 "rpull doesn't pull lazily with docker hub"
[code]

[code]

[2020-01-04 13:57] AkihiroSuda commented on #14
seems unrelated to docker hub

[code]

containerd  version: containerd/containerd@5fc0f30167216f7b11de904df4df8b1c96290104

[2020-01-04 14:24] ktock commented on #14
@AkihiroSuda Does `s/docker.io/index.docker.io/` solve it for DockerHub?

[2020-01-04 14:29] AkihiroSuda commented on #14
thanks for looking into this, but it doesn't work

[2020-01-04 14:41] ktock commented on #14
Could you send the log output of `rsnapshotd` with `--log-level=debug`? Please include `rsnapshotd`'s startup log too not only during `rpull` to check if all filesystem plugins are loaded successfully.

Thanks!

[2020-01-06 04:10] AkihiroSuda opened #16 "shell scripts should have `set -euo pipefail`"

[2020-01-06 06:42] AkihiroSuda commented on #14
sorry I just forgot installing /opt/rsnapshotd/plugins

[2020-01-06 06:42] #14 closed

[2020-01-06 07:21] AkihiroSuda commented on #12
imgcrypt has `ctr-enc` command: https://github.com/containerd/imgcrypt

If we follow that convention, maybe the name should be like `ctr-remote`, but I don't have a strong opinion about the name as long as it doesn't conflict with existing commands.

[2020-01-06 08:06] ktock commented on #12
Thanks a lot for your suggestion! `imgcrypt` style (= renaming `ctr` to `ctr-remote`) sounds good to me.

[2020-01-06 10:57] #12 closed

[2020-01-16 10:49] ktock commented on #7
Now we can do it with the new FileSystem interface introduced by #10 🎉

[2020-01-16 10:49] #7 closed

[2020-01-18 08:34] #16 closed

[2020-01-20 05:16] AkihiroSuda opened #29 "support prefetch for unoptimized images"
The currently implementation supports prefetch only for `optimize`-d images that contain the landmark file: https://github.com/ktock/remote-snapshotter/blob/26c23b14959a2c05eaae004fb014243af72f8131/cmd/ctr-remote/sorter/sorter.go#L43-L57

We should allow prefetching for unoptimized images as well.
The amount of the prefetching should be configurable via the image handler wrapper.

[2020-01-20 05:17] AkihiroSuda opened #30 "support fetching the whole image in background after starting up the container"
Fetching the whole image in background after starting up the container would make the container tolerant of registry failures.

[2020-01-20 05:26] AkihiroSuda opened #31 "RFC: hide .remote-snapshotter directory from getdents()"
Showing `.remote-snapshotter` directory in `getdents(2)` may affect `differ` implementations like https://github.com/containerd/containerd/blob/master/diff/walking/differ.go .

So maybe we should hide `.remote-snapshotter` from `getdents(2)`.

This is akin to hidden `.zfs` directories used in ZFS.

[2020-01-20 06:42] ktock commented on #31
I agree with that. We should make `/.remote-snapshotter` read-only(or prohibit to create files in) on the *merged* rootfs as well. This is because once we create a file in `/.remote-snapshotter` overlayfs will create `.remote-snapshotter/` directory on the upper layer and the contents will be visible.

[2020-01-22 11:26] ktock commented on #13
Thanks for opening it! We can do it since 8a280b2924c18cc06507d3525e194c2e3b57830a 🎉

[2020-01-27 06:37] AkihiroSuda opened #34 "default cache should not be NOP"

[2020-01-29 13:56] AkihiroSuda opened #37 "Do not Mount() on Prepare(), or parallelize Prepare()"
https://github.com/ktock/stargz-snapshotter/pull/33

`Prepare()` operations seems happening in sequential and limiting the performance.

If we skip `Mount()` on `Prepare()` and defer lazy-pull operations until actual getdents happens, probably we can see significant decrease in the startup latency.

Or maybe we should modify the unpacker so that it can unpack layers in parallel.

[2020-02-03 04:49] ktock commented on #2
We close it until we come up with a clear vision or use-cases for this feature but feel free to reopen it if you need this kind of feature.

[2020-02-03 04:49] #2 closed

[2020-02-03 04:50] #34 closed

[2020-02-06 02:37] ktock commented on #30
@AkihiroSuda #42 is addressing this issue.

[2020-02-06 08:18] ktock commented on #30
Solved in #42.

[2020-02-06 08:18] #30 closed

[2020-02-12 13:18] siscia opened #44 "Build using `go mod`?"
Cheers guys!

I am trying to build our own package for cvmfs.

Being a new project, I believe the suggested way to build it would be through the `go mod`, however, the standard `go build` fails on

[code]

After few experiments I can guess that the issue is the use of the `go mod`.

What is the policy of this project? Can/Should I use the standard `go mod` when using this project as dependency or

[2020-02-12 13:26] siscia commented on #44
Aw I see!

https://github.com/containerd/containerd/issues/3031

[2020-02-13 04:28] ktock commented on #44
@siscia Is this solved? I think we should make this project `go mod` friendly in the near future.

[2020-02-13 04:32] ktock commented on #44
And thanks for trying this snapshotter out! :raised_hands:

[2020-02-13 08:07] siscia commented on #44
No unfortunately not.

I believe that the problem is the issue I posted above, as long as containerd is not `go mod` friendly, it would be quite hard for project that relies on containerd to be `go mod` friendly.

I briefly try yesterday to make containerd friendly to `go mod` without much success.

I want to finalize and test our snapshotter today and then I will try again :)

[2020-02-17 07:37] ktock commented on #37
#47 addresses this issue.

[2020-02-20 01:38] #37 closed

[2020-02-21 07:47] ktock commented on #31
#48 deals with this issue.

[2020-02-21 08:25] #31 closed

[2020-02-29 02:14] AkihiroSuda opened #50 "Add the list of the pre-converted images to README"

[2020-03-05 06:50] AkihiroSuda commented on #50
Also better to have benchmark result on README.

@ktock WDYT?

[2020-03-05 07:58] ktock commented on #50
Yes, I agree that we need them. I'll work on it soon.

[2020-03-12 08:57] #50 closed

[2020-03-20 02:28] ktock opened #61 "Support mirror registries"
We should enable to configure mirror registries. There are two possible ways to achieve this.
- Makeing containerd pass the final result of resolved registry URL to this snapshotter.
- Enabling to configure mirror registries in stargz-snapshotter's config file. The mirror's management will be separated from containerd and image refs will be resolved in this snapshotter.

[2020-03-26 09:11] ktock opened #63 "Enable to get credentials through Secrets on Kubernetes"
Kubernetes [allows users to pass registry creds (secrets) to runtimes](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/) via CRI but by design stargz snapshotter doesn't share the creds with containerd.

One possible solution is to directly access k8s API and sync secrets to this snapshotter. Fortunately, we can use [k8s-based keychain](https://github.com/googl

[2020-03-26 09:25] #61 closed

[2020-03-26 09:40] sequix opened #64 "Combine with desync to support finer dedup."
desync supports mounting out a single file with a much smaller index (just like casync).
And I think that the single file can be a .stargz file, then we can mount it again, to have a proper directory tree.
In this way, we can have lazy-pulling and dedup with minimal effort.
I know that this is not totally true. gz compression will mess up the chunking, but since .stargz is gzipped per file, this s

[2020-03-26 10:52] ktock commented on #64
@sequix Thanks for the proposal. I agree with that we can hopefully achieve finer deduplication using casync/desync-based storage(My initial attempt was based on this standpoint: https://github.com/ktock/container-bootfs).
But unfortunately, supporting docker-incompatible backends/APIs is out-of-scope for this repo (please also see the discussion in the project proposal: https://github.com/contain

[2020-03-30 21:13] #44 closed

[2020-03-31 08:46] siscia commented on #44
Wondeful thanks guys!

[2020-04-03 12:55] #63 closed

[2020-04-09 13:05] ktock commented on #64
Closing it because of the above reason. Very welcome for the further proposal.

[2020-04-09 13:05] #64 closed

[2020-04-15 03:11] #29 closed

[2020-04-18 11:12] AkihiroSuda opened #75 "Document eStargz"

[2020-04-23 07:35] ktock commented on #1
@andrewrynhard Are you still interested in this?
Recently this snapshotter supports Kubernetes through CRI.
Can we seek the way for the integration?

[2020-04-23 07:53] andrewrynhard commented on #1
@ktock awesome. I saw your blog post. I am interested in how we could. Sounds like we need to get the agent into the OS and then configure containerd to use it. Should be simple enough. Is the agent written in go? Is CGO used?

[2020-04-23 08:07] ktock commented on #1
awesome! It's written purly in Go.

[2020-04-23 08:09] andrewrynhard commented on #1
Perfect. The primary use case I see is to speed up the pull of the hyperkube image. We will have to create a stargz version of the image?

[2020-04-23 08:14] ktock commented on #1
Yes. You can use `ctr-remote` command for converting the original image into stargz and pushing it to registries.

[2020-04-23 08:18] andrewrynhard commented on #1
That may be the only issue I can see in getting adoption of this in Talos. Right now we point to the official hyperkube image. But, I think this could still be really neat to have. I will play with it and see how much it improves our boot times.

[2020-04-23 08:30] ktock commented on #1
We are seeing an issue for using cloud-provided registries(e.g. GCR). so if you are to try it with these registries, could you wait for #81 get merged? This will be merged today or tomorrow.
DockerHub is well-tested so far.

[2020-04-23 08:30] ktock commented on #1
And thanks a lot for trying it out!

[2020-04-23 08:32] andrewrynhard commented on #1
Sounds good 👍

[2020-04-24 08:39] ktock commented on #1
@andrewrynhard #81 got merged so this should work with cloud-provided registries. Can you try it out?
You can convert the hyperkube image by `ctr-remote image optimize <HYPERKUBE-IMAGE-PAYH> <YOUR-REPOSITRY-IMAGE-PATH>`.

[2020-04-27 04:15] AkihiroSuda opened #86 "Migrate to go-fuse v2"
https://github.com/containerd/stargz-snapshotter/blob/cc738d8ee6183945db474916be3e2d2baec1ad79/go.mod#L23

We should consider migrating to go-fuse v2: https://github.com/hanwen/go-fuse/releases

[2020-04-29 08:36] sequix opened #88 "Run KinD example got memory leak."
Environment:
CentOS Linux release 7.7.1908 (Core)
Linux instance-aai99beh 3.10.0-1062.18.1.el7.x86_64 #1 SMP Tue Mar 17 23:49:17 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
Docker version 19.03.8, build afacb8b

After running KinD example on my server, the memory usage of stargz-snapshotter increased exponentially. At the end, I have to reboot my server...

![image](https://user-images.githubuserconte

[2020-05-07 06:46] ktock commented on #88
@sequix Sorry for the late reply (I was taking a 1-week vacation). Seems filesystem uses too much memory. Could you try it after #89 got merged?

[2020-05-07 06:54] sequix commented on #88
no worries, I took a week too ^v^.

[2020-05-08 03:58] AkihiroSuda opened #91 "Document the hidden state dir (`/.stargz-snapshotter`)"
The file layout is still likely to change, but it wouldn't hurt to document the current behavior.

[2020-05-08 09:05] ktock commented on #88
@sequix Memory usage has been improved in #89. Can you try this again?

[2020-05-08 13:03] sequix commented on #88
Tried again, no more memory leak, great job.

I wonder will this snapshotter cache original OCI image as well, if so, how?

[2020-05-09 01:57] sequix opened #92 "Integrate with dragonfly"
I am trying to integrate this project with P2P to speed up container boot up even more. I tried uber/kraken, but it is too heavy, so many component. So I turned into dragonflyoss/dragonfly, which works.

My question is will HTTP range still works behind a registry mirror, like dragonfly's dfclient?

Maybe I can @lowzj, one of dragonfly developers, who starred this repo?

[2020-05-10 10:29] ktock commented on #92
Yes, HTTP range request should work behind registry mirrors as long as they support [Docker](https://docs.docker.com/registry/spec/api/)/[OCI](https://github.com/opencontainers/distribution-spec)-compatible registry API. You can add the registry mirror configuration to this snapshotter like the following:
[code]
The [config toml file](https://github.com/containerd/stargz-snapshotter/blob/28af649b5

[2020-05-11 00:15] #88 closed

[2020-05-11 00:38] sequix commented on #92
It is work, closed.

[2020-05-11 00:38] #92 closed

[2020-05-11 00:54] sequix opened #93 "KinD example shows little improvement for pod startup."
# Environement
[code]

# Test Images
[code]

# Test yamls
[code]

$ Test
[code]

[2020-05-11 01:48] ktock commented on #93
@sequix Thanks for trying! Things done during the Pod creation is not only pulling images. The scheduling overhead or resource syncing period (of controllers, kubelet, kubectl), etc. also might affect the time to take for displaying `Running` on `kubectl get`.
The bottleneck analysis and k8s tuning are what we thought to work on next. We are happy if you investigate the bottleneck a bit deeper.

[2020-05-11 03:23] ktock commented on #88
@sequix Great! Thanks for the retrying!

Yes, we cache layer data in chunk granularity and have caches for some `Reader`s used in this snapshotter. For understanding them, let's look at `Reader`s used when a file on the filesystem is read.

1. `*Reader.file.ReadAt` corresponds to the inode is called. It [reads decompressed file contents from stargz lib (`*github.com/google/crfs/stargz.fileReader.R

[2020-05-11 15:37] #75 closed

[2020-05-12 13:11] ktock commented on #93
@sequix
Tried on `CentOS 7.7.1908` but the issue hasn't been reproduced.

Can you paste the result of the `kubectl get event` command?
e.g.)
[code]

## Testing Result

[code]

### Testing pods

The procedure for building the original docker image (`ktokunaga/hw-python:oci`) is the same as [the above post](https://github.com/containerd/stargz-snapshotter/issues/93#issue-615516719).
Stargz images (`

[2020-05-13 00:30] sequix commented on #93
I tried another registry which is geographically close to me, and it worked. I should blame the network, sorry for interrupt.

![image](https://user-images.githubusercontent.com/15651400/81758288-e64d2280-94f3-11ea-91dc-b6424381e725.png)

[2020-05-13 00:30] #93 closed

[2020-05-13 00:39] ktock commented on #93
no problem :+1:

[2020-05-13 03:36] #91 closed

[2020-05-13 03:52] ktock commented on #92
@sequix Thanks for trying this. Did you see any performance improvements by this integration?

[2020-05-13 04:15] ktock opened #97 "Support default path to the configuration file"
Stargz snapshotter daemon (`containerd-stargz-grpc`) currently doesn't have the default path to the configuration file. So users need to explicitly specify the path using `--config` option.
We should have the default path for the configuration file ([containerd also has the default](https://github.com/containerd/containerd/blob/f13ba8f2f2fd27fc2172453434938170e7807149/docs/man/containerd-config.to

[2020-05-14 02:09] sequix commented on #92
![image](https://user-images.githubusercontent.com/15651400/81884388-5c23bd80-95ca-11ea-8284-3c40fbc60417.png)

Well, I did not test this much, but it dose have some improvements. This is a 359MiB image with 100M bandwidth, the first time took 8s to mount, and the second time stargz-snapshotter fetched data from dragonfly's cache (which residents in the same cluster, maybe not same node) to mount

[2020-05-14 03:15] ktock commented on #92
Interesting. Time to take for prefetching and background fetching possibly speeded up by the dragonfly's cache.
But the time to take for *mount* shouldn't be affected by them because they are [held in the background (in goroutines)](https://github.com/containerd/stargz-snapshotter/blob/fff955fd009160587b255408b83c174c4d00ded5/stargz/fs.go#L238-L281). The improvement might be because the RTT for [s

[2020-05-27 03:44] #86 closed

[2020-06-17 12:03] siscia opened #110 "Is `ctr` supported?"
Hello guys :)

I am wrapping up our shapshotter plugin for cvmfs now that the support for it is merged in containerd.

I am trying to understand if the `ctr` utility can be used to iteractive testing of the remote snapshotter.
If I simply invoke `ctr plugin list` it shows our own plugin being loaded. Moreover logings seems to show that everything is set up properly.

However, I don't see any kind

[2020-06-17 13:02] ktock commented on #110
Hi! The upstream version of `ctr` doesn't support remote snapshots yet, so you need to write your own.
In our project, we are using our implementation of the subcommand [`rpull`](https://github.com/containerd/stargz-snapshotter/blob/6d3fd7da1e6aa51eeef567fe638cc7b1057d8096/cmd/ctr-remote/commands/rpull.go).

Based on our `rpull` implementation, you might need to:
- replace [`remoteSnapshotterName`

[2020-06-17 13:22] siscia commented on #110
Many thanks!

I was afraid of this, but I wanted to check with you guys!

Cheers,
Simone

[2020-06-17 13:22] #110 closed

[2020-07-01 02:27] ktock opened #114 "[RFC] stargz image verification"
Since https://github.com/google/crfs/pull/37, TOCEntry contains the checksum (SHA256 digest) of regular files so we can use these digests for file verification once we verify TOCEntry itself in the chain of verification (manifest -> TOCEntry -> file digests). But currently, TOCEntry digest itself isn't contained in verifiable blobs (manifest, etc).

One of the straightforward ways is to store the

[2020-08-17 11:46] cy-zheng opened #128 "[Question] How can I find whether my image is using lazy loading?"
I've set up the latest code of stargz-snapshotter with containerd 1.4.0 rc-2, and trying to test image lazy load. But I cannot find some evidence to indicate stargz-snapshotter is using lazy loading.
Maybe stargz-snapshotter is treating the esgz image as legacy docker image format?

cmd:
[code]

stargz-snapshotter log output:
[code]

cmd:
[code]

stargz-snapshotter log output:
[code]

And there do

[2020-08-17 11:59] cy-zheng commented on #128
I find something like `failed to prepare remote snapshot`, `failed to resolve layer`. Is it OK?

[2020-08-17 13:18] ktock commented on #128
@cy-zheng Thanks for trying it out! According to the log, the snapshotter daemon failed to access to `docker-images-prod.s3.amazonaws.com` which seems to be used as the backend storage of DockerHub on your platform.
So the image hasn't been lazy-pulled.

[code]

I'll take a deeper look at it. Are you running it on AWS?

[2020-08-18 02:01] cy-zheng commented on #128
Yes. I'll try it in another location. Thanks!

[2020-08-18 05:23] cy-zheng opened #129 "optimize image with --stargz-only get an error "digest of TOC JSON must be passed""
cmd:
[code]

log output:
[code]

cmd:
[code]

[2020-08-18 05:34] ktock commented on #129
Stargz (non-eStargz) image doesn't support [content verification](https://github.com/containerd/stargz-snapshotter/blob/master/docs/verification.md) so the snapshotter doesn't mount it by default.
You need the following configuration for mounting stargz (non-eStargz) layers (see also [the doc](https://github.com/containerd/stargz-snapshotter/blob/master/docs/verification.md#content-verification-in

[2020-08-18 12:13] AkihiroSuda commented on #129
Is this issue closable? Do we need more clear docs?

[2020-08-18 12:17] #129 closed

[2020-08-20 08:50] xujihui1985 opened #131 "image layer digest calculate"
when pulling the image, containerd will first fetch the image layer to contentStore to calculate the digest, this will increase the pulling time and reduce the effect of lazy loading

[2020-08-20 12:46] #131 closed

[2020-08-20 17:26] ktock commented on #114
We've done fundamental verification features. Let's close this thread and do follow-ups in other ones when needed.

[2020-08-20 17:26] #114 closed

[2020-09-10 06:09] jianzi123 opened #144 "use stargz, find some error: label key and value greater than maximum size (4096bytes)"
- cmd:

ctr-remote image rpull -k --plan-http  is.harbor/subdir/image:tag-stargz

- err:

fetching sha256:73a41aad... application/vnd.docker.distribution.manifest.v2+json
fetching sha256:0a9ca603... application/vnd.docker.container.image.v1+json
ctr: failed to prepare extraction snapshot "extract-174145760-QWmW sha256:2d77e0b8e08172efb92544f1c09624fbe9f58cf303a5163174b0fe52d7ab7885": info.Labels:

[2020-09-10 09:39] ktock commented on #144
@jianzi123 Thanks for reporting this. How many layers does your image have?

[2020-09-10 09:44] jianzi123 commented on #144
i found the problem maybe...
[code]
[code]

[2020-09-10 10:12] jianzi123 commented on #144
i fix this problem in
containerd/labels/validate.go
[code]
i guess the func Validate with len(key)+len(value) should set bigger.

[2020-09-12 07:37] koxu1996 opened #145 "Allow to disable fetching layers in background"
I have rather specific use case of _StarGZ_: I use it to save disk space, because I am running 64 nodes on my local machine. I don't really care about runtime performance, so fetching layers in background is undesirable behavior for me. Currently I use forked version, but I though maybe such option could be useful for someone else.

I was thinking about adding new config option and wrapping [backg

[2020-09-14 07:32] ktock commented on #145
SGTM. Can you open a PR?

[2020-09-17 17:12] ericpromislow commented on #144
Which code is this error message coming from?

We're seeing this with kind running k8s 1.18.4 and on, but not 1.18.2 or earlier.

Our error message seems to be coming from a snapshotter, but I don't know if it's *this* snapshotter.  Our software sits on a big stack of layers, so it's hard to say what's going on in a low-level layer (in this case kind running on k8s 1.18.4).

[2020-09-17 17:31] AkihiroSuda opened #149 "remove dependency on github.com/google/go-containerregistry"
https://github.com/moby/buildkit/pull/1666#discussion_r489907766

We could just use the containerd libs for registry stuff

[2020-09-17 17:34] tonistiigi commented on #149
Another question would be how to get mirrors/tls configuration etc. I'm not sure how authentication works atm, possibly needs some updates as well.

[2020-09-18 01:52] ktock commented on #144
@ericpromislow This is fixed on containerd master. https://github.com/containerd/cri/pull/1572 https://github.com/containerd/containerd/pull/4570

If you aren't using the master version, you can avoid this by adding the following config into config.toml of containerd:
[code]

[2020-09-21 10:18] koxu1996 commented on #145
Thanks :smiley:

[2020-09-21 10:18] #145 closed

[2020-09-22 15:39] luodw opened #151 "If stargz-snapshotter daemon process restart?"
recently, I have tried containerd lazy load feature. stargz-snapshotter use fusefs to fetch file data on demand, and in fuse userspace handler, if file is cached locally, it will return directly, if not cached locally, it will fetch from docker registry.

my question is, if stargz-snapshotter restart  abnormally or when upgrade, the fuse connections will break, so container process read will faile

[2020-09-22 17:40] koxu1996 commented on #129
@ktock Is there possibility to use non-eStargz image with KinD? I added `allow_no_verification = true` but I have no clue where is place for `--skip-content-verify` extra argument.

[2020-09-23 02:29] ktock commented on #151
@luodw Thanks for the question! Though we have graceful shutdown on SIGINT (#26), recovery on abnormal shutdown / support for service restart are in progress (#134). Very welcome for contribution.

[2020-09-23 02:47] luodw commented on #151
Thank

[2020-09-23 02:49] ktock commented on #129
@koxu1996 Possible solutions:

- Manually adding `containerd.io/snapshot/remote/stargz.skipverify` to your non-eStargz image.
- Modifying `ctr-remote image optimize` command to always add that annotation to non-eStargz images.
- Adding a knob in config.toml for completely disabling verification feature.
- Adding `--skip-content-verify` like functionality to containerd/cri (not easy).

BTW are ther

[2020-09-23 06:49] luodw commented on #151
Thanks for your reply, I got it.

[2020-09-23 20:00] koxu1996 commented on #129
@ktock I am running cluster with many nodes on single machine and I want avoid copying hundreds gigabytes of images + avoid long pull time. I was using `stargzify` from `google/crfs`, but with recent StarGZ it stopped working - can I assume plain stargz images are useless now? I am also wondering why `allow_no_verification = true` is not enough to disable content verification.

[2020-09-24 00:47] ktock commented on #129
@koxu1996 `allow_no_verification` was introduced for allowing to disable verification selectively (mainly for testing stargz images). It'll be good to have a flag for completely disabling verification (option 3 in the above list).

[2020-09-24 01:26] ktock commented on #151
@luodw Can you check if the master version (contains the patch #134) fixes this issue?

[2020-09-24 01:37] ktock commented on #144
Fixed through #148.

@jianzi123 Thanks for reporting this. Please reopen it if you still have the issue.

[2020-09-24 01:37] #144 closed

[2020-09-24 08:45] luodw commented on #151
I hava tried the latest master branch (containes the patch #134 ), but when I 'kill -9 <stargz-snapshotter pid>', and restart right now,  the container is still has err
![image](https://user-images.githubusercontent.com/14847074/94122252-e89d9100-fe84-11ea-81ed-1140c3b2abd3.png)

The follow steps reproduce the issue
1. ctr-remote images rpull docker.io/stargz/golang:1.12.9-esgz
2. ctr-remote run -

[2020-09-25 02:40] ktock commented on #151
Currently, you need to re-run containers too. And I agree with that the snapshotter needs to be able to gracefully restart even if there are running containers.

[2020-09-25 02:52] luodw commented on #151
Ok，I also think the ideal usage is when snapshotter restarts, the running containers can still run normally.

[2020-09-30 13:18] strigazi opened #154 "Unable to pull sgz images"
Hello,

I was trying to reproduce the results from the readme and found the following issue.

* I can not pull sgz images. I'm using your images from https://hub.docker.com/r/stargz/python/tags
  * 3.7-org 28.957s
  * 3.7-esgz 11.496s (this also a little slower than your results)
  * 3.7-sgz 28.254s
    * The error I see in the logs of the snapshotter is:
[code]

Finally, the results I get when us

[2020-09-30 14:19] strigazi commented on #154
Fixed by https://github.com/containerd/stargz-snapshotter/issues/129, testing it.

[2020-09-30 15:23] AkihiroSuda opened #155 "Consider mirroring Docker Hub images to ghcr or somewhere else"
We should consider mirroring (or just moving) Docker Hub images to ghcr to avoid hitting Docker Hub limits

[2020-09-30 15:34] strigazi commented on #154
With `disable_verification = true` i see `Verification forcefully skipped` but it takes the same time to download the image as a non-stargz-non-estargz image.

[2020-10-01 15:51] strigazi opened #156 "Too many goroutines causing full CPU for large images"
Hello,

(So if you click by accident ENTER on the title you have an issue created.)

When doing ctr-remote i rpull for `docker.io/stargz/python:3.7-esgz` around 25K goroutines get created, then they go away (after ~30s).

For larger images like `docker.io/strigazi/ciadm:v0.3.9-esgz-bash-version` (OR `ghcr.io/strigazi/ciadm:v0.3.9-esgz-bash-version`) I get close to 1M goroutines that after 10mins t

[2020-10-01 16:11] strigazi commented on #156
cc @rochaporto @ktock

[2020-10-01 16:19] strigazi commented on #156
From pprof I think that the routines get created  here [0] and they close only when all files are traversed.

[0] https://github.com/containerd/stargz-snapshotter/blob/8f2e7ec8468e67ed7251709af7841c6ca5ac64d6/stargz/reader/reader.go#L150

[2020-10-02 03:17] ktock commented on #156
@strigazi Thanks for reporting this. Stargz snapshotter aggressively pulls and decompresses a layer in background aside from fetching contents on demand. These goroutines do this "background pull/decompression" per file.
I wrote a patch to avoid too many goroutines there.

If you don't want snapshotter to pull/decompress layers in background, you can disable it by adding `no_background_fetch = tru

[2020-10-02 09:18] strigazi commented on #156
I tried this config option, but I see the same behaviour (all cores consumed, too many goroutines)

[2020-10-02 19:50] strigazi commented on #156
Fixed by #157

[2020-10-02 19:51] #156 closed

[2020-10-07 05:32] AkihiroSuda opened #160 "Create tagged releases (with binaries)"
@ktock WDYT?

[2020-10-07 06:59] ktock commented on #160
Sounds good! It will be `v0.1.0` with linux-x86_64 binary.

[2020-10-27 05:44] #155 closed

[2020-10-27 07:26] ktock commented on #128
@cy-zheng Is this still an issue? This might be solved through #167.

[2020-10-28 11:59] cy-zheng commented on #128
The issue is fixed. Thx!

[2020-10-28 11:59] #128 closed

[2020-10-29 11:19] strigazi opened #169 "optimzations for ctr-remote optimize"
Hello,

I would discuss some improvements we could do in ctr-remote image optimize.

* While optimizing an image with a very large number of files, we noticed that
  the snapshotter used a single core at 100%. Could we parallelize (map reduce?)
  to all cores?
* Allow ctr-remote image optimize based on optimized images. We could use as
  base image an already optimized image, use all stargzified l

[2020-10-30 01:25] ktock commented on #169
@strigazi Thanks for the proposals! I totally agree with.
The following is my thought about the feasibility of these features.

I think it's possible to parallelize constructing stargz blob (= [compressing and concatinating file entries and appending TOC JSON at the tail](https://github.com/containerd/stargz-snapshotter/blob/master/docs/stargz-estargz.md)) because stargz/eStargz is just tar.gz and

[2020-11-17 04:50] shahzzzam opened #175 "Does stargz support node reboot?"

[2020-11-17 04:51] #175 closed

[2020-11-18 03:05] ktock commented on #169
@strigazi Most of issues mentioned here seem to be solved through #171 #172 #173 #174.  Could you tell us if there are still something missing?

[2020-11-18 07:52] strigazi commented on #169
@ktock They look great!

[2020-11-18 07:52] #169 closed

[2020-11-28 04:56] ktock commented on #160
https://github.com/containerd/stargz-snapshotter/releases/tag/v0.1.0

[2020-11-28 04:56] #160 closed

[2020-11-30 10:12] xujihui1985 opened #182 "have plan to support docker image pull?"
docker are still widely used nowadays, but it still use graphdriver instead of snapshotter to prepare image, do you have plan to support docker?

[2020-11-30 10:24] ktock commented on #182
@xujihui1985 Yes, I really would love to integrate to Docker.

I've worked on moby/moby#41002 but it does not reach to the agreement. There are also on-going issue moby/moby#38043 and moby/moby#38738 for using containerd as the Docker's image backend but it not completed as well.

[2020-12-01 06:02] AkihiroSuda commented on #182
@ktock Can we revisit [the initial "bootfs" approach](https://github.com/ktock/container-bootfs)

[2020-12-01 07:37] ktock commented on #182
Interesting. Mounting stargz as "bootfs"? I'll take a look.

[2020-12-03 09:24] ktock opened #184 "Change docs and benchmarks to more focus on eStargz"
eStargz is a format which is based on stargz by Google CRFS project and comes with optimization and verification. Based on this context, currently, our docs describes both of stargz and eStargz.
 However, recently we are focusing more on eStargz and maintaining docs and benchmarks for both of stargz and eStargz is a bit costly. For making the project easier to maintain, let's fix them to focus mor

[2020-12-03 20:35] itsmurugappan opened #187 "failed to pull and unpack image after rpull"
I tried out the stargz snapshotter on k3s on a rpi cluster. Here is my set up info -> https://github.com/itsmurugappan/stargz-snapshotter-k3s.

Everything works out great, even on the rpi cluster the pull performance is good.

I was thinking of doing a "ctr-remote rpull" on all the nodes before the pod is created. My assumption was it would improve the start up times even more. But when i tried, t

[2020-12-04 10:16] ktock commented on #187
Thanks for reporting this. Does adding `--namespace=k8s.io` option to `ctr-remote` fix this?
Thus `ctr-remote --namespace=k8s.io i rpull <your-image>`.

[2020-12-04 14:15] itsmurugappan commented on #187
yes. it does. Thanks a lot for quick response.

[2020-12-09 13:39] xujihui1985 commented on #182
@ktock we have a similar approach as bootfs https://github.com/dragonflyoss/image-service which convert image with meta and blob, and we also have large scale deployment inside, would you like to have look at that :)

[2020-12-09 13:53] xujihui1985 commented on #182
stargz is the first choice when we evaluate the image lazyloading, and it is amazing, we need
1. file content aware approach instead of block level as we can analyze file access pattern
2. extreme fast image pulling speed
but we found something that not meet our requirement
1. flatten fuse mountpoint instead of multilayer with overlay
2. low memory footprint (the stargzindex file is quite large as

[2020-12-09 14:03] ktock commented on #182
Thanks for the suggestion!

We agree with all of the following requirements. Just needs more time & help for implementing them.

Could you elaborate the following?

[2020-12-09 14:04] ktock commented on #187
@itsmurugappan This is fixed in v0.2.0 https://github.com/containerd/stargz-snapshotter/releases/tag/v0.2.0

[2020-12-09 14:04] #187 closed

[2020-12-09 14:05] #184 closed

[2020-12-09 14:14] xujihui1985 commented on #182
@ktock remote snapshotter will die for whatever reason, we can't afford the consequence that if snapshotter die, all the container that running on that just die, we hope snapshotter to become a control plane that just manage the fuse daemon, and when it die, it can restart and restore back to its state and container running on that will not affect by its crash

[2020-12-10 07:37] AkihiroSuda opened #193 "Support systemd notification"
We should support systemd notification like this:
https://github.com/moby/buildkit/commit/0dee033264fb9c08f8a77f57b6ec802aecedc3b6

We should also have an example systemd unit

[2020-12-11 02:12] ktock commented on #149
Now snapshotter plugin has containerd's RegistryHost-based registry logic.
https://github.com/containerd/stargz-snapshotter/pull/153

[2020-12-11 02:12] #149 closed

[2020-12-11 06:40] ktock opened #194 "Make "estargz" pkg import-friendly"
Currently, the consumer of "estargz" pkg needs to `go mod` this project (that includes snapshotter & fs codes as well).
Because of that, there seem cases where a dependency cycle is created (https://twitter.com/mattomata/status/1337270338221064192).

@mattmoor Could you elaborate the current dependency cycle you are facing? Splitting out estargz to another project is a big change (approval is need

[2020-12-11 15:22] mattmoor commented on #194
Yeah, so I'd love it if this could be split into its own standalone module (a la `compress/gzip`).  I don't mean upstreamed into Go itself, but at least keeping it neatly in its own module.  I don't know a lot about nested `go.mod`, but that might be an option. 🤔

Context: I want to see us leverage this in some of the core utilities in google/go-containerregistry (aka GGCR): https://github.com/goo

[2020-12-16 07:50] ktock commented on #194
Closing this as `estargz` pkg is independently importable since #195.

[2020-12-16 07:50] #194 closed

[2020-12-16 14:30] mattmoor opened #200 "Expose an estargz.Option for compression level"
https://pkg.go.dev/github.com/containerd/stargz-snapshotter@v0.2.0/estargz#Option

I'm guessing that as a compatible gzip format, the notion of compression level should persist.  The standard library exposes this level, and the following enums: https://godoc.org/compress/gzip#pkg-constants

In GGCR we generally bias towards `gzip.BestSpeed`, but we expose an option for this in our own utilities ar

[2020-12-16 14:48] ktock commented on #200
Though the [footer](https://github.com/containerd/stargz-snapshotter/blob/6ed3e72ebbc0d5f67f2b3eb16787f7e1a2890f05/docs/stargz-estargz.md#footer) must be gzip.NoCompression, we can expose compression level of other components (entries and toc).

[2020-12-16 14:49] ktock commented on #200
I meant that I totally agree with the suggestion :smile:

[2020-12-16 14:59] mattmoor commented on #194
Starting to pull it in here: https://github.com/google/go-containerregistry/pull/870

thanks!

[2020-12-16 16:16] AkihiroSuda opened #202 "update Go to 1.15"
In #197 we tried to bump up Go from 1.13 to 1.15, but we failed because of the following FUSE error during `make benchmark`:

Needs analysis and fix.

[2020-12-16 17:08] ktock commented on #200
Closing this as we support `WithCompression` option since  #201.

[2020-12-16 17:08] #200 closed

[2020-12-16 19:35] mattmoor opened #203 "Move the prioritized files to an estargz.Option"
Thinking about API in downstream go-containerregistry, I find myself wanting to be able to expose `estargz.Option` to folks directly, but one things I'd like them to be able to specify (that's currently separate) is the prioritized file list.

[2020-12-17 00:32] mattmoor opened #204 "Expose the Diff ID of the estargz bytes"
Unfortunately, to assemble a container image, we need both the "Diff ID" (sha256 of uncompressed) and the digest (sha256 of compressed) to construct the config and manifest respectively.

Even though estargz is presented with the uncompressed tarball, we cannot use the sha256 of this as the "Diff ID" because estargz augments and reorders things.

This means that in order to get the "Diff ID" to as

[2020-12-17 01:04] mattmoor opened #205 "Consider dropping multierror"
One thing that @jonjohnsonjr raised importing things downstream was the use of `github.com/hashicorp/go-multierror`, which also pulls in `github.com/hashicorp/errwrap`, but it seems like `estargz` could get away with something much simpler:

[code]

I was experimenting with this here: https://play.golang.org/p/ALYdDsBRGjH

[2020-12-17 04:16] AkihiroSuda commented on #205
SGTM, would you be interested in opening a PR?

[2020-12-17 05:18] mattmoor commented on #205
I sent a PR that adds an adaptation of the above that makes "Append" support a nil receiver and return a new `*Errors`.

[2020-12-17 06:22] #205 closed

[2020-12-17 06:29] ktock commented on #203
Now prioritized files is moved to an option since #206.

[2020-12-17 06:29] #203 closed

[2020-12-17 07:18] ktock commented on #204
Closing this as this feature is added through #208.

[2020-12-17 07:18] #204 closed

[2020-12-17 14:42] mattmoor commented on #204
Awesome, I'll take this for a spin after ☕

🤩

[2020-12-18 00:56] ktock opened #209 "`ctr-remote image optimize` should support lazy pulling during optimization step"
When there are more and more eStargz images used in the community, there will be more cases to re-optimize already-optimized eStargz image.

In this case, we can apply lazy pulling to prepare rootfs for profiling the workload's file accesses. During this profiling, we can download the entire image contents in the background then convert it to the new one after the optimization step.

[2020-12-19 08:31] ohkinozomu commented on #97
@ktock
Hi. I've created PR about this. Could you review it?

[2020-12-19 15:29] #97 closed

[2020-12-20 01:47] itsmurugappan opened #215 "Cannot resolve layer for ghcr.io"
Hi Team,

I get the below error while pulling the images from ghcr. The images is a estgz image.

snapshotter-version := HEAD

[code]

[2020-12-20 21:51] mattmoor opened #217 "snapshotter doesn't like paths in ko images"
In github.com/google/ko built images, the paths we use within the tarball seem to be causing problems for the estargz snapshotter.  These images run fine against a standard containerd, so it would be good to harden this snapshotter to support them:

[code]

You can produce an image with `ko` + estargz by:
1. clone github.com/google/ko
2. `go install ./cmd/ko`
3. `GGCR_EXPERIMENT_ESTARGZ=1 KO_DOCKE

[2020-12-20 22:05] mattmoor commented on #217
It looks like the distroless images (run through `crane optimize`) exhibit a similar error:
[code]

[2020-12-20 22:06] mattmoor commented on #217
If I manually force `ko` to use relative paths for files within the tarball then it seems to stop complaining about that layer, but this is likely going to be a problem for a whole class of images, so it'd be best to try and fix this.

[2020-12-20 22:13] mattmoor commented on #217
cc @itsmurugappan @ktock @AkihiroSuda

[2020-12-21 01:34] ktock commented on #217
@mattmoor Thanks for reporting this.
There seems several issues for lazy pulling distroless images. I'll fix them today.

- [x] Issue 1 : `ko`'s default base images aren't eStargz => solvable by using eStargz-formatted base images
- [ ] Issue 2 (TODO): Stargz snashotter's prefetching & background fetching doesn't support absolute path
- [ ] Issue 3 (TODO): There is a distroless image that cannot b

[2020-12-21 19:25] mattmoor commented on #217
Ack issue `#1`, but isn't the lazy loading per-layer?

[2020-12-21 23:09] mattmoor opened #220 "snapshotter periodically overflows the stack"
I'm using https://github.com/itsmurugappan/stargz-snapshotter-k3s (cc @itsmurugappan) on my RPi4 and I am periodically seeing the pods crash with what looks like an infinite recursion:
[code]

I'll poke around a bit to see if I can spot anything, but wanted to report this.

[2020-12-21 23:14] mattmoor commented on #220
This feels like an infinite recursion, but perhaps this should be wrapped in an `eg.Go()`? https://github.com/containerd/stargz-snapshotter/blob/9a7db93aa67059e9f3e3a81d33c05ac074ca032f/fs/reader/reader.go#L192

[2020-12-22 00:00] ktock commented on #220
Yes, this seems to be the issue on `cacheWithReader`. What image are you pulling?

[2020-12-22 00:03] ktock commented on #215
@itsmurugappan Thanks for reporting this.
Is this occur everytime the snapshotter pulls `ghcr.io/itsmurugappan/java-hw-estgz:v1` ?

[2020-12-22 00:06] mattmoor commented on #220
I've deployed `github.com/mattmoor/mink` to a little K3s cluster on my RPi4.

With estargz encoding enabled in `ko` the pods periodically crash loop, but this seems to have gone away if I disable the `estargz` encoding.

[2020-12-22 00:07] mattmoor commented on #220
it's hard to narrow down from the stack trace which image it is, but basically all of them crash loop over time.  I'm not sure if all of them have problems or if one image is causing problems for everyone else.

[2020-12-22 00:25] ktock commented on #217
From snapshotter's perspective, yes it is.
But from containerd's perspective, it queries chains (*snapshots*; stacked view of layers) to the snapshotter.
[When containerd gets non-lazy chain, it immediately starts to pull all upper layers](https://github.com/containerd/containerd/blob/dc207b654da07cdce1e9e2996810f46da3fb06d1/unpacker.go#L125-L242).

Docs about snapshots:
- [Snapshots](https://gith

[2020-12-22 00:48] mattmoor commented on #217
Yeah, I am familiar.  My point is that a layer can still be lazy even if the upper layers are pulled eagerly.

[2020-12-22 01:28] ktock commented on #217
Yes, I think it's theoretically possible.

[2020-12-22 03:58] ktock commented on #220
It turned out that if the input tar contains "/" entry (root directory itself),  infinite reference loop of entries (root -> root) is created and this causes infinite walk of the directory tree. #221 will address this.

[2020-12-22 04:41] #220 closed

[2020-12-22 07:37] AkihiroSuda opened #223 "optimizer: imageio should use containerd native API"
https://github.com/containerd/stargz-snapshotter/blob/f045b42c062fac08ea440afc080de49765e2252d/converter/optimizer/imageio/imageio.go#L38-L44

@ktock
For better integration with containerd, can we switch away from ggcr API into containerd content/image store API?
Especially, the converted image should be written to a containerd local image store without pushing.

[2020-12-22 07:49] AkihiroSuda commented on #182
nerdctl supports lazy-pulling with Docker-compatible CLI: https://github.com/AkihiroSuda/nerdctl

`nerdctl --snapshotter=stargz run -it --rm ghcr.io/stargz-containers/fedora:30-esgz`

[2020-12-22 12:02] AkihiroSuda commented on #223
draft PR: https://github.com/containerd/stargz-snapshotter/pull/224

[2020-12-22 13:12] ktock commented on #217
All issues are fixed (#218, #219) and now image produced by `ko` can be lazily pulled.
@mattmoor  Could you try it again with the latest commit on your environment?

[code]

[2020-12-22 14:25] xujihui1985 commented on #182
@AkihiroSuda thanks Akihiro, this looks promising

[2020-12-22 15:04] mattmoor commented on #217
I'll sync with @itsmurugappan and try to repro this today

[2020-12-22 16:14] itsmurugappan commented on #217
sure, will give it a try today

[2020-12-22 17:42] itsmurugappan commented on #215
Happens for other images on ghcr also

[code]

Interestingly this happens only on one node. Not sure what i am missing

[2020-12-22 18:29] mattmoor opened #226 "context deadline exceeded while prefetching"
Not sure why, but there is a deadline here:
https://github.com/containerd/stargz-snapshotter/blob/af03a142bbeefb0e07e915e4e8fdedc082e5039b/fs/remote/blob.go#L270

I see the following errors in the snapshotter's logs:
[code]

This is on a fairly resource constrained system/connection (RPi4), and some of the go binaries being prefetched are somewhat large (tens of MB).

Things seem to keep going, bu

[2020-12-22 19:33] mattmoor opened #227 "Errors fetching private estargz image"
I see the following in my snapshotter logs:
[code]

Most of the images I've been using are public, so does estargz fallback for private images? 😞

[2020-12-22 19:34] mattmoor commented on #215
I may have just opened a duplicate of this: https://github.com/containerd/stargz-snapshotter/issues/227

[2020-12-22 19:34] mattmoor commented on #227
I think this is a dup of the linked issue.

[2020-12-22 19:34] #227 closed

[2020-12-23 04:53] #226 closed

[2020-12-23 10:48] AkihiroSuda commented on #13
This seems got broken again recently on master

[2020-12-23 14:14] ohkinozomu commented on #13
I checked https://github.com/containerd/stargz-snapshotter/commit/8a280b2924c18cc06507d3525e194c2e3b57830a , it may be related to my pull request https://github.com/containerd/stargz-snapshotter/pull/214

I may be able to fix that(except for determining the default values), but should It be fixed?
I think the program should exit when there is no config file.
I'm sorry if I lack knowledge about con

[2020-12-23 14:30] AkihiroSuda commented on #13
containerd can work without `/etc/containerd/config.toml`.

stargz-snapshotter should work without any config file as well

[2020-12-24 07:33] AkihiroSuda opened #230 "FUSEless file access monitor (inotify, fanotify)"
[The current FUSE-based monitor implementation](https://github.com/containerd/stargz-snapshotter/blob/7e30a23808d1c17c7ff05e1d693bb8e3aa66ec7d/converter/optimizer/logger/logger.go) has several issues:
- Does not work without CAP_SYS_ADMIN, i.e., does not work inside Kaniko/Makisu
- Hard to support lazy-pulling during monitoring
- ...

So I suggest adding inotify implementation.

The drawback of in

[2020-12-24 07:37] AkihiroSuda commented on #230
cc @ktock @mattmoor

[2020-12-24 08:51] ktock commented on #230
SGTM :+1:

[2020-12-24 08:58] AkihiroSuda commented on #223
Reopening. `ctr-remote images convert` is implemented, but `ctr-remote images optimize` still uses ggcr implementation.

[2020-12-24 15:42] mattmoor opened #231 "KinD Dockerfile seems broken"
I was trying to add a periodic build of this via actions, which I could use to test with KinD in CI and it seems to be failing with:
[code]

You can see the actions run here: https://github.com/mattmoor/mink/runs/1605720393?check_suite_focus=true#step:5:1421

[2020-12-24 15:46] mattmoor commented on #231
I see, you added args without defaults 🤔

https://github.com/containerd/stargz-snapshotter/commit/a7cd58a980f35abc4868b463dbb7e191f24e897f#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557

[2020-12-24 15:55] AkihiroSuda commented on #231
Please try export DOCKER_BUILDKIT=1

TARGETARCH might not be defined on legacy builder.

[2020-12-24 15:59] mattmoor commented on #231
It is not, I added: `--build-arg TARGETARCH=amd64`

[2020-12-24 16:00] mattmoor commented on #231
Seems past that failure now, so IDK if you want to close this, or update any docs / defaults so this just works again.

[2020-12-27 04:36] #13 closed

[2020-12-28 06:08] #231 closed

[2021-01-06 03:25] ktock commented on #217
@mattmoor @itsmurugappan Is this still an issue?

[2021-01-06 04:36] mattmoor commented on #217
I haven't checked the logs recently, but I do not think this is a problem anymore.

[2021-01-06 09:58] ktock commented on #223
After #238 is merged, I'll work on the refactoring of `ctr-remote image optimize` based on native converter + analyzer + containerd's registry lib. I'm thinking about how we can keep this working without running containerd daemon.

[2021-01-06 10:30] ktock commented on #217
Closing this. Feel free to reopen this whenever issues related to this are found.

[2021-01-06 10:30] #217 closed

[2021-01-06 10:30] AkihiroSuda commented on #223
Why not run the daemon?

Anyway, we could implement a static optimizer that parses ELF and shell scripts to estimate file dependencies without running any container at all, though its robustness would be limited.

[2021-01-10 03:51] mc256 opened #239 "Shapshotter Plugin: failed to cleanup when exit"
## Motivation

If I did **not** run **any** `rpull` before exiting the GRPC plugin process. The log shows:

[code]

It shows bucket does not exists. But I don't think it fails to cleanup. It is just because we have never created a bucket in `metadata.db`. If we `ctr-remote i rpull` an image and then `ctr-remote i rm` that image. It shows:

[code]

## Suggestion

Should we create the bucket wheneve

[2021-01-12 01:07] ktock commented on #239
If the purpose is just to avoid `error` message, I don't think we need to introduce initialization. Why not just ignore `bucket does not exist` (ideally this message should be printed as `Debug` log at least)?

[2021-01-12 06:01] AkihiroSuda commented on #202
@ktock Did you manage to analyze this? Go 1.16 will be also released soon.

[2021-01-13 02:57] ktock commented on #202
Not yet.. I'll look into this deeper in this week.

[2021-01-14 20:28] amrmahdi commented on #151
@ktock can you describe what is required to do an update/restart to the snapshotter in a running cluster for instance? How do you do that today?

[2021-01-15 00:35] ktock commented on #151
Currently, we need to kill all containers running on that node before restarting this snapshotter and re-deploy these containers after the snapshotter restarts.

One of the idea to solve this issue is spawning the FUSE server as a separated process instead of goroutine as done today.

[2021-01-15 19:44] jonjohnsonjr commented on #223
This sounds really interesting, especially if it's possible (and easy) for you to keep something like this decoupled from containerd.

[2021-01-20 01:35] jonjohnsonjr opened #244 "Mind cutting another release?"
[Our dependency](https://github.com/google/go-containerregistry/blob/213dd48b6cf3d6139a9787781e0e24ff2c4a0f56/go.mod#L10) on github.com/containerd/stargz-snapshotter/estargz isn't included in any release yet.

If it's not too much trouble, it would help me with updating some other dependencies if you could cut another release at some point.

Thanks!

[2021-01-20 02:08] ktock commented on #244
Current on-going patches are #243 and #240 but I think we don't need to include them to the immediate next release. So we can release v0.3.0 soon.

@AkihiroSuda WDYT?

[2021-01-20 02:13] AkihiroSuda commented on #244
LGTM

[2021-01-20 08:44] ktock commented on #244
v0.3.0 is out :tada:

[2021-01-20 08:45] ktock commented on #244
https://github.com/containerd/stargz-snapshotter/releases/tag/v0.3.0

[2021-01-20 08:45] #244 closed

[2021-01-20 09:56] #202 closed

[2021-01-20 19:26] jonjohnsonjr commented on #244
Thank you :)

[2021-01-26 23:58] IRCody opened #249 "convert command question"
With the [convert](https://github.com/containerd/containerd/commit/5ca3ac65c47099bc841a7cdd443ee37432ac5be0) now being part of containerd, the convert command defined for ctr-remote is not accessible. Is this intentional? It's not clear to me if none of the other options are needed?

For example the options available after updating to use the latest containerd (obtained by doing `ctr-remote images

[2021-01-27 03:37] #249 closed

[2021-01-27 15:03] siscia opened #251 "Issues with containerd 1.4.3"
Hi guys,

while our snapshotter keep working with 1.4.0 it seems to have troubles with 1.4.3

The main issues seems to be the lack of labels, the snapshotter does not receives the labels and it doesn't know what to mount.

Are you guys seeing a similar behavior?

[2021-01-27 15:09] ktock commented on #251
Hi,
Did you add `disable_snapshot_annotations = false` option to config.toml?
This option is needed since v1.4.2.

e.g.

[code]
https://github.com/containerd/stargz-snapshotter#quick-start-with-kubernetes

[2021-01-27 15:18] siscia commented on #251
Got it!

I was just looking into it!

Thanks!
https://github.com/containerd/containerd/pull/4665

A related question, do you think our snapshotter should work also with `nerdctl` ?

[2021-01-27 15:18] #251 closed

[2021-01-27 15:27] ktock commented on #251
Thanks for looking at nerdctl.
If your snapshotter works with our `ctr-remote image rpull` command, it should work without patches.
But you need to register your snapshotter to containerd with the name containing the string `stargz`.
If your snapshotter uses labels other than ones used by Stargz Snapshotter, the patch will be needed for nerdctl.

ref: https://github.com/AkihiroSuda/nerdctl/blob/v0

[2021-02-01 07:09] ktock opened #253 "Improve tests and release"
Related: https://github.com/kubernetes-sigs/kind/issues/1981

Currently, we release only amd64 binary that tested against the latest containerd release. Aiming to facilitate the integration around stargz snapshotter, we can consider the following improvements.

- [x] #260 **release non-amd64 binraies as well**
  - ~~candidates: amd64, arm64, ppc64le~~
  - candidates: amd64, arm, arm64, ppc64le, s3

[2021-02-01 07:22] BenTheElder commented on #253
If possible: I would suggest the architecture set Kubernetes ships might be a better list. While KIND has a few things only targeting these architectures currently, most things target the full set.

[2021-02-01 08:11] ktock commented on #253
Thanks for the suggestion. Updated the issue description.

[2021-02-02 05:12] nicktming opened #254 "rpull pulls all layers?"
containerd: v1.4.3
stargz-snapshotter: v0.3.0
# ctr-remote images rpull --plain-http 49.232.118.181:5000/myimage:v0.1
fetching sha256:d737a6fd... application/vnd.docker.distribution.manifest.v2+json
fetching sha256:8c4e826b... application/vnd.docker.container.image.v1+json
fetching sha256:0703b966... application/vnd.docker.image.rootfs.diff.tar.gzip
fetching sha256:e966595c... application/vnd.dock

[2021-02-02 05:19] ktock commented on #254
Have you done registry configuration on the snapshotter's side?

https://github.com/containerd/stargz-snapshotter/blob/v0.3.0/docs/overview.md#registry-mirrors-and-insecure-connection

something like (/etc/containerd-stargz-grpc/config.toml):

[code]

If it doesn't work, please provide the debug log of `containerd-stargz-grpc`.

[2021-02-02 06:14] nicktming commented on #254
it still pulls the tar.gzip layers. by the way, i forget to hide my ip address, would you mind hiding it in your comment?

[2021-02-02 06:19] ktock commented on #254
@nicktming Could you provide the log output from `containerd-stargz-grpc`?

[2021-02-02 06:24] nicktming commented on #254
there is no output
my containerd config
`
# Plug stargz snapshotter into containerd
# Containerd recognizes stargz snapshotter through specified socket address.
# The specified address below is the default which stargz snapshotter listen to.
[proxy_plugins]
  [proxy_plugins.stargz]
    type = "snapshot"
    address = "/run/containerd-stargz-grpc/containerd-stargz-grpc.sock"

# Use stargz snapshott

[2021-02-02 06:34] nicktming commented on #254
another problem:

1. started `containerd-stargz-grpc -log-level=debug`
2. started `containerd`
3. got error: snapshotter not loaded: stargz: invalid argument
[code]
anything missed?

[2021-02-02 06:39] nicktming commented on #254
i tested the `docker.io/stargz/golang:1.12.9-esgz`
[code]
it pulls all the layers, is it the normal case?

[2021-02-02 06:49] ktock commented on #254
@nicktming

Please add `--log-level=debug` to `containerd-stargz-grpc` and paste the log output.

no.

Check also `fusermount` is installed on your host.

[2021-02-02 07:15] nicktming commented on #254
---
already installed.
[root@VM-0-6-centos ~]# which fuser
/usr/sbin/fuser
[root@VM-0-6-centos ~]# which fusermount
/usr/bin/fusermount

[2021-02-02 07:35] ktock commented on #254
@nicktming Doesn't `containerd-stargz-grpc` provide any log even with `--log-level=debug` flag?

[2021-02-02 08:52] nicktming commented on #254
it has logs now, logs like that:
`
failed to request: context canceled: failed to resolve","level":"debug",
`

[2021-02-02 09:10] ktock commented on #254
@nicktming Please provide the complete log line. It's hard to make sure where is the root cause of that error.

[2021-02-02 09:17] nicktming commented on #254
containerd logs
[code]

containerd-stargz logs
[code]

[2021-02-02 09:55] ktock commented on #254
@nicktming

this log says that you are trying to pull the image from your non-HTTPS (i.e. plain-http) registry `ip:5000` but `containerd-stargz-grpc` doesn't recognize it as non-HTTPS registry and this tries to connect to your registry using HTTPS (then it fails).

As mentioned in https://github.com/containerd/stargz-snapshotter/issues/254#issuecomment-771369476, please make sure that your `contai

[2021-02-05 03:36] ktock commented on #253
Working on CI improvements (#257) that helps us catching up changes on containerd closely and quickly making fixes when some of the recent changes on containerd cause incompatibility.

After some consideration, I think the integration tests of stargz snapshotter + containerd should also run in KinD CI everytime it bumps containerd to un-released version. I've thought about guaranteeing that stargz

[2021-02-05 04:41] nicktming commented on #254
@ktock what is the stability of stargz-snapshotter in the range of different cluster nodes?  such as 100 nodes, 1000+ nodes, 5000+ nodes .  is there any docs to provide this kind of information?

[2021-02-05 05:16] ktock commented on #254
Though there is no survey about stability, this is one of the topics we'll work on this year.

[2021-02-05 05:31] nicktming commented on #254
@ktock  ok, thx. Looking forward to the survey.

[2021-02-05 05:37] ktock commented on #254
@nicktming
Of course, any contribution around stability is always welcome :)
BTW how is this issue going?

[2021-02-05 05:47] nicktming commented on #254
@ktock it worked with your suggestions, but it failed some times after that with the same command, so i got a little confused.

i will get into the details to find what happens if having free times .

[2021-02-05 08:06] AkihiroSuda opened #258 "Tracker issue for adoption status"
# CRI runtimes
## containerd
- ✅ Supported since containerd 1.4.0

## CRI-O
- TBD, will happen after [Podman](#podman) supports lazy-pulling

# High-level container engines
## Docker (Moby)
- On proposal: https://github.com/moby/moby/pull/41002

## Podman
- On proposal: https://github.com/containers/storage/pull/795 https://github.com/containers/image/pull/1109

## nerdctl
- ✅ Supported since nerd

[2021-02-05 08:13] ktock commented on #258
Thanks! :+1:

[2021-02-08 09:38] ktock opened #259 "Make modules import-friendly"
Currently, stargz snaphsotter repo contains two go modules:

- `github.com/containerd/stargz-snapshotter`
- `github.com/containerd/stargz-snapshotter/estargz`

In our go.mod, `github.com/containerd/stargz-snapshotter` refers `github.com/containerd/stargz-snapshotter/estargz` using the following `replace` directive:

[code]

Here, `v0.0.0-00010101000000-000000000000` is not a valid version and this

[2021-02-08 09:59] AkihiroSuda commented on #259
SGTM

[2021-02-10 09:03] AkihiroSuda opened #262 "https://github.com/orgs/stargz-containers/packages should promote esgz over esgz-noopt"
https://github.com/orgs/stargz-containers/packages/container/package/python

![image](https://user-images.githubusercontent.com/9248427/107488064-34e63500-6bca-11eb-9da2-6af617cd1ad7.png)

This page should  promote esgz over esgz-noopt , though I'm not sure there is any action we can take for this.

[2021-02-12 06:09] AkihiroSuda opened #264 "Support importing as compile-time plugin"
For k3s integration (https://github.com/k3s-io/k3s/issues/2918), we should support compile-time plugin like this: https://github.com/AkihiroSuda/containerd-fuse-overlayfs/blob/v1.0.0/plugin/plugin.go

[2021-02-15 09:21] #264 closed

[2021-02-16 13:44] ktock opened #268 "Add --version option to `containerd-stargz-grpc`"
`containerd-stargz-grpc` should have --version option that prints the version or the commit hash.

[2021-02-18 02:37] #253 closed

[2021-02-18 02:53] #268 closed

[2021-02-18 13:24] ktock opened #270 "[RFC] Snapshotter should receive creds via kubelet or containerd CRI plugin"
https://github.com/kubernetes-sigs/kind/pull/2076#pullrequestreview-591224262

On Kubernetes, stargz snapshotter currently deals with private registries by syncing all registry secrets from API server. This requires additional permissions (listing/watching secrets) to nodes where stargz snapshotter runs.

However, this doesn't work if adding these permissions to nodes isn't acceptable. Furthermore

[2021-02-18 14:47] ImJasonH opened #271 "Question: performance data and metrics?"
As an operator, it would be useful to see how much time/storage/bandwidth my users are saving by enabling stargz-snapshotter. I'm excited to see the benchmarks in the README, but that might not be representative of my own images. As future improvements to the snapshotter are released and adopted, I'd also like to see whether time/storage/bandwidth savings are improving or regressing over time.

I

[2021-02-18 15:06] ktock commented on #271
Thanks for the suggestion.
+1 for having metrics that can be fed into other tools. Do you have any suggestion about metrics monitor and/or data formats?

Maybe we can start from data currently exposed on state directory and extend this into other information (accessed files, etc).

[2021-02-18 16:48] ImJasonH commented on #271
I don't know enough about containerd's existing metrics, whether there's anything you can reuse or piggyback off of.

I saw the **[metrics]** section of the containerd config docs:

This seems to be for container-level metrics like CPU and memory usage, but maybe there's an option to extend it with other snapshotter metrics. If not, the snapshotter binary could also emit its metrics in a similar w

[2021-02-19 08:53] AkihiroSuda opened #272 "CI: remove dependency on Docker CLI"
The current CI uses both `nerdctl` and `docker` CLI.

The new release of `nerdctl` supports `nerdctl login` (thanks to @fahedouch), so dependency on Docker CLI should be now removable: https://github.com/AkihiroSuda/nerdctl/releases/tag/v0.6.0

[2021-02-19 09:26] ktock commented on #272
Thanks, I'll work on this.

[2021-02-19 15:46] #272 closed

[2021-02-24 04:16] AkihiroSuda opened #274 "Support injecting liveness / readiness probe scripts"
It would be great if we can inject scripts for Kubernetess livenessProbes and readinessProbes: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

The script path would be like `/.stargz-snapshotter/.probes/liveness`.

If depending on `sh` inside container is problematic, we can also consider bind-mounting a statically built ELF binary.

[2021-02-24 05:45] ktock commented on #274
SGTM about the statically built livenessProbes.

[2021-02-25 14:21] AkihiroSuda commented on #193
Being addressed in https://github.com/containerd/stargz-snapshotter/pull/275

[2021-02-26 04:05] #193 closed

[2021-03-05 07:51] AkihiroSuda opened #279 "README.md should have a link to pre-converted-images.md"
https://github.com/containerd/stargz-snapshotter/blob/v0.4.1/docs/pre-converted-images.md is hard to find , should be linked from the top README.md

[2021-03-05 08:07] AkihiroSuda opened #280 "The plugin should fail early when prerequisites are not satisfied"
For ease of debugging the broken installation, the plugin should fail early when critical prerequisites are not satisfied, e.g.,

- `fusermount` is not present in the $PATH
- `/var/lib/containerd-stargz-grpc` is mounted with an incompatible FS (such as `overlayfs`)

[2021-03-05 08:45] ktock commented on #280
We should add the logic here:

https://github.com/containerd/stargz-snapshotter/blob/6122c3ed78d7a361e05b56a062fc4622d2c69ac5/service/service.go#L127-L137

And we should call this function at main package of `containerd-stargz-grpc`.

[2021-03-08 03:42] #280 closed

[2021-03-10 23:20] liubogithub opened #284 "standardize lazy pulling enabled image format in oci spec"
Hi,

The project that I'm working on is called [Nydus](https://github.com/dragonflyoss/image-service).  (also mentioned in #182)

On the "Container Plumbing Conference", @bergwolf did a brief introduction about Nydus and @ktock did one about estargz/zstd:chunked.  I think both estargz and nydus are solving the exactly same problems and share similar design ideas underneath as well.

We believe tha

[2021-03-11 05:17] AkihiroSuda opened #285 "Support rootless"
Snapshotter:
- use kernel-mode overlayfs with "userxattr" (https://github.com/containerd/containerd/pull/5076) on kernel >= 5.11
- use fuse-overlayfs on kernel < 5.11 && kernel >= 4.18
- give up on kernel < 4.18, except on Ubuntu kernel, which allows rootless kernel-mode overlayfs since circa 2015

Installer: will look like this https://github.com/AkihiroSuda/nerdctl/blob/v0.7.0/extras/rootless/co

[2021-03-11 05:19] AkihiroSuda commented on #284
Yes, this is discussed in https://github.com/opencontainers/image-spec/issues/815

[2021-03-12 00:15] liubogithub commented on #284
Thanks for the link, somehow I missed that, will take a look.
Let's move discussion there as well.

[2021-03-12 00:15] #284 closed

[2021-03-15 06:43] MadhavJivrajani commented on #279
Hey, if I understand correctly, that particular section of docs is linked in [this](https://github.com/containerd/stargz-snapshotter/tree/v0.4.1#creating-estargz-images-with-optimization) section of the main README.md. Or would you want it linked in the beginning of the main README?

[2021-03-15 06:47] AkihiroSuda commented on #279
Didn't notice that it is already linked in README. Currently too hard to find.

[2021-03-17 02:15] #271 closed

[2021-03-19 08:52] AkihiroSuda commented on #285
Done in https://github.com/containerd/stargz-snapshotter/pull/290 and https://github.com/containerd/nerdctl/pull/123

[2021-03-19 08:52] #285 closed

[2021-03-19 11:23] #279 closed

[2021-03-24 02:16] mc256 commented on #254
**TL;DR**
You may need to update containerd to a newer version.

---

It works for me a while ago. But today I found that rpull pulls all the layers. And I confirm it by running in the Docker container provided in `/script/demo`, it works. But it just does not work on my host machine. The host machine I am using is running Ubuntu 20.04. I got containerd from `apt install`, and `containerd -v` give

[2021-04-07 06:14] AkihiroSuda opened #298 "image request: wordpress and mariadb (for Compose demo)"
nerdctl will support Compose soon: https://github.com/containerd/nerdctl/pull/156

Can we get pre-converted esgz images of `wordpress:5.7` and `mariadb:10.5` for demo of Compose with stargz?

[2021-04-07 06:14] AkihiroSuda commented on #298
(I'm not sticking to wordpress, let me know if there is a better demo application for Compose)

[2021-04-07 07:23] ktock commented on #298
Do you have any preference about the workload (or command execution) to be optimized for?

e.g. https://github.com/containerd/stargz-snapshotter/blob/ca3ed2eaba06a750a8f9d05624cbbda25a935aad/script/benchmark/hello-bench/src/hello.py#L91-L117

(I'm not a Java expert but Java-based web apps might be other good demo candidates because they tend to be big images)

[2021-04-09 14:23] AkihiroSuda commented on #298
Just running mysqld --version and php --version would be fine for preloading the binaries

[2021-04-13 14:23] #298 closed

[2021-04-19 03:53] AkihiroSuda opened #306 "Add docs for popular Kubernetes services/distros (e.g., GKE)"
We should have docs for running stargz with popular Kubernetes services and distros.

GKE guide by @rochaporto: https://ricardorocha.io/blog/gke-custom-containerd/ https://twitter.com/lukasheinrich_/status/1362445073045192705

[2021-04-19 09:00] #223 closed

[2021-04-21 02:48] chenk008 commented on #306
How about using Kubernetes daemonset to run stargz service?

[2021-04-21 03:04] ktock commented on #306
@chenk008

This is very interesting and I was thinking of something similar. There is a bootstrapping issue for achieving this. containerd depends on snapshotter for creating containers so we cannot create a daemonset without it.

I think a possible solution is to let containerd support a sort of "containerized plugin". This would allow containerd to talk to Stargz Snapshotter plugin that is runni

[2021-04-21 03:06] ktock commented on #306
Of course, please feel free to open up issues/PRs for achieving that.

[2021-04-21 03:10] chenk008 commented on #306
We can mount host dir  `/run` into Stargz Snapshotter container.

If stargz service’s socket is unreachable, containerd fall back to use default snapshotter servive (e.g. overlayfs snapshotter). Does it make sense?

[2021-04-21 03:16] ktock commented on #306
I guess at least `/var/lib/containerd-stargz-grpc` (where stargz snapshotter stores snapshots) needs to be visible from containerd.

Yes, it does.

Thanks!

[2021-04-26 10:39] luodw opened #308 "How to manager cache in disk?"
Hello, I see stargz-snapshotter cache blob file in disk，but in snapshotter remove and cleanup method, it do not remove the blob cache file, so how to do when cache blob file grow and hit the disk size?

And if remove blob cache file in snapshotter,  it will not be suitable with kubelet.  As kubelet will check the disk presure, if disk usage is hit the threshold, kubelet will evict container and im

[2021-04-26 11:22] ktock commented on #308
I agree with that we need GC of cache contents for unused snapshots. This is currently WIP on https://github.com/containerd/stargz-snapshotter/pull/276.

[2021-04-27 05:08] ktock commented on #258
@chenk008

Yes. You also need https://github.com/containers/image/pull/1109 and https://github.com/containerd/stargz-snapshotter/pull/301 as well.
We'll work on downstreaming these patches to Podman/CRI-O once they are merged.

Please check also the current limitation of lazy pulling feature for these runtimes (https://github.com/containers/storage/pull/795#issuecomment-799057091). Summary:
- Podm

[2021-04-27 06:48] luodw commented on #308
@ktock  maybe layer and blob reference relation should persist to disk?  how to do when stargz-snapshotter restart?

[2021-04-27 07:08] ktock commented on #308
@luodw Yes, we need to work on this.

Currently we are working on enabling cleanup in #309 but it doesn't include support for restart.

[2021-04-27 12:37] #308 closed

[2021-05-08 07:33] chenk008 opened #314 "restore error blocked stargz restart"
When I restart stargz process, it always failed. The log indicates that image restore error blocked stargz starting. So I have remove stargz plugin config in /etc/containerd/config.toml.

Should it block starg staring if there is some error image ?

The error log
[code]

[2021-05-08 07:33] chenk008 commented on #314
/assign @ktock

[2021-05-10 03:24] ilyee opened #316 "Typos in fs/fs.go"
I find some typos in `fs/fs.go`, and I make a pr to fix them #315

[2021-05-10 03:51] ktock commented on #314
According to the log, the request from your host to `ghcr.io` seem timeout (10s).
 #317 will fix the issue.

In the current restore logic, snapshotter shouldn't continue to run when restore fails because it ends up (unexpectedly) empty snapshots.
But I think we should have better logic for restore (related: https://github.com/containerd/stargz-snapshotter/issues/151).

[2021-05-10 04:37] ilyee commented on #316
merged

[2021-05-10 04:37] #316 closed

[2021-05-11 02:19] ilyee opened #318 "Graceful restart using separate FUSE manager daemon"
As mentioned in #151,  if we restart the stargz-snapshotter process, all the related containers need to be restarted because the fuse goroutine is killed.

## Some Ideas

For solving this we can use a separate FUSE manager daemon to handle all FUSE servers.

An new implementation of FileSystem interface in snapshot/snapshot.go can be made, which calls FUSE manager daemon through gRPC, so FUSE serv

[2021-05-11 02:23] ktock commented on #318
@ilyee What is your use-case of restart? Reloading configuration?

[2021-05-11 02:29] ilyee commented on #318
yes, reloading configuration for current, but no guarantee that there won't be more use-case

[2021-05-11 03:11] ktock commented on #318
@ilyee Having a separate FUSE manager daemon sounds good to me.

We need to make sure that all [filesystem configuration](https://github.com/containerd/stargz-snapshotter/blob/master/fs/config/config.go) are passed to the FUSE manager on each call of mount (or on each restart of snapshotter) for avoiding the necessity of restarting FUSE manage for config reload. One possible way is sending all con

[2021-05-11 03:24] ilyee commented on #318
Agree with that, I think both way are applyable, I'll make a pr for this soon

[2021-05-20 05:28] #270 closed

[2021-05-21 16:25] jonjohnsonjr opened #326 "Standard remote snapshot labels?"
The labels [here](https://github.com/containerd/stargz-snapshotter/blob/eae95630f9e5ac6e71a7afe7058b349fcf166240/fs/source/source.go#L63-L73) seem to serve the same purpose as [these](https://github.com/containerd/containerd/blob/e47400cbd2d5f45ab8d836d56c8521f6c81d0ce2/pkg/cri/server/image_pull.go#L509-L523) other than the `TargetPrefetchSizeLabel`.

Is there a reason for those three label keys t

[2021-05-24 00:42] ktock commented on #326
Yes, these label keys are diverse but have the same purpose. For tools other than CRI plugin (e.g. BuildKit, nerdctl, etc), [default labels](https://github.com/containerd/stargz-snapshotter/blob/eae95630f9e5ac6e71a7afe7058b349fcf166240/fs/source/source.go#L63-L73) should be used.

Isn't referring snapshotter name enough? What's your use-case for this?

Stargz-related configurations are hard-coded

[2021-05-27 08:57] #239 closed

[2021-05-27 23:06] sumeetb25 opened #328 "[Discussion] Disk writes while fetching data from remote registry"
Hello Container community,

I am pretty new to the container ecosystem and in the early stages of exploring stargz snapshotter. Based on my understanding of the Mount path of stargz snapshotter following things happen:

1. For each layer snapshotter downloads compressed tarball as chunks (size is configurable, defaults to 50KiB) and writes compressed data to /var/lib/containerd-stargz-grpc/stargz/

[2021-05-27 23:54] ktock commented on #328
Yes, I agree with this.

We should also care about reducing the number of requests to the registry. Currently, when a small file A is requested from a container, the neighbouring files are (pre)fetched as well in one (50KB) request and cached to ` /var/lib/containerd-stargz-grpc/stargz/httpcache/`. This behaviour should be preserved even after we refactor the cache structure.

[2021-05-28 00:54] sumeetb25 commented on #328
Ack.

[2021-05-28 00:54] #328 closed

[2021-06-02 09:05] chenk008 commented on #318
@ilyee @ktock How about saving the fuse pipe FD in the FUSE manager? When we need to upgrade stargz-snapshotter, send this pipe FD to the new stargz-snapshotter process and let the old stargz-snapshotter process quit, so we don't need to remount on upgrading.

[2021-06-16 06:49] AkihiroSuda opened #340 "Allow fusermount3"
https://github.com/containerd/stargz-snapshotter/blob/e9306b199a1b48a44ac68f7af1d844386e4ca304/store/fs.go#L53

On Fedora 34, the binary name is `fusermount3`, not `fusermount`

[2021-06-16 07:04] ktock commented on #340
@AkihiroSuda go-fuse doesn't support `fusermount3` as of now https://github.com/hanwen/go-fuse/pull/356.
When `fusermount` is not found on the system, snapshotter will fallback to `DirectMount` mode that doesn't use `fusermount`.
Doesn't it work on Fedora 34?

[2021-06-30 14:18] rdpsin opened #348 "Allow users to manually enabled single range mode for fetcher using config"
Stargz-snapshotter has a mechanism to support registries that do not allow multiple ranges in a single GET request. For the fallback mechanism to kick in, the snapshotter expects the registry to return an error.

Some registries like AWS ECR neither support retrieving multiple ranges of data per GET request nor return an error. Instead they send back the entire requested object.

I propose changes

[2021-06-30 16:22] sumeetb25 opened #349 "[Discussion] Linux perf tool profiling with stargz-snapshotter"
Hi All! I've been doing benchmarks to compare overall container execution times w/ and w/o estargz images. The benchmarking strategy is similar to https://github.com/Tintri/hello-bench/blob/master/hello.py. For https://hub.docker.com/_/rabbitmq  image the overall execution time is 9.921 seconds  w/o estargz and 12.7 seconds  w/ estargz. (The perf numbers w/ estargz look similar for prefetch enable

[2021-06-30 17:32] ktock commented on #348
Thank you for the suggestion.  Could you open up the PR?

[2021-06-30 17:38] ktock commented on #349
We strip debug information from the binary by default. Does removing `-` and `-w` from the following Makefile solve it?

https://github.com/containerd/stargz-snapshotter/blob/7f024d4e3b860a663f050d55e65c4e1910e6a166/Makefile#L24

[2021-06-30 18:00] sumeetb25 commented on #349
Removing `-s` and `-w` did the trick. Thank you!

[2021-06-30 18:01] sumeetb25 commented on #349
I'll keep the issue open until I am investigating the regression for rabbitmq image.

[2021-07-01 00:44] ktock commented on #348
Solved in https://github.com/containerd/stargz-snapshotter/pull/350

[2021-07-01 00:44] #348 closed

[2021-07-02 01:20] sumeetb25 commented on #349
The overall execution time for OCI rabbit mq image (pulled from dockerhub) is 9.921 seconds and it jumps to 12.7 seconds on an optimized estargz image. While investigating this regression I observed that launches with estargz images consistently show a 2.5 second stall between two events.

[code]

Launching containers with vanilla OCI image this stall is consistently around ~1.1 seconds.

[code]

[2021-07-02 07:52] ktock commented on #349
@sumeetb25  Could you provide the step of how have you created the optimized eStargz image?
Did you enable the optimization feature provided by ctr-remote ? https://github.com/containerd/stargz-snapshotter/blob/v0.6.4/docs/ctr-remote.md

[2021-07-02 14:14] sumeetb25 commented on #349
Yeah I had enabled the optimization feature. Following is the command I used to create optimized eStargz image:

[code]

$IMAGE referred to the image pulled from docker hub by executing `docker pull rabbitmq` and then exporting it into containerd.

[2021-07-08 00:33] sumeetb25 commented on #349
@ktock Please let me know if you have any pointers on where I can start digging next.

[2021-07-08 02:29] ktock commented on #349
@sumeetb25 Some pointers you can deeper look at:

- Which phase (pull, create, run) shows worse performance for estargz?
- If `pull` takes long, how long does it take to complete [`Mount`](https://github.com/containerd/stargz-snapshotter/blob/main/fs/fs.go#L143) for all layers? And what is the bottleneck of each one?
- If `create` takes long, how long does prefetch take? `create` [waits for comple

[2021-07-09 21:04] rdpsin opened #364 "CNI-based networking not working when optimizing images"
Hello,

I'm trying to enable CNI-based networking while optimizing images using `ctr-remote`, but it doesn't seem work. I'm basing my test off of https://github.com/containerd/stargz-snapshotter/pull/173.

**Steps:**

[code]

**Output**:

[code]

[2021-07-10 06:31] ktock commented on #364
@rdpsin Please ensure that the configuration of `/etc/hosts` and `/etc/resolv.conf` in the container is valid in your environment.
`ctr-remote` uses 8.8.8.8 for the DNS server inside the container. If this doesn't suit to your environment, you might need to configure it using `--dns-nameservers` etc. For details, please see our doc: https://github.com/containerd/stargz-snapshotter/blob/v0.6.4/docs

[2021-07-12 00:31] ktock opened #365 "Latency metrics design proposal"
By  @vkuzniet (https://github.com/containerd/stargz-snapshotter/pull/358)

* Image and layer metrics
    * [ ] Prefetch bytes per layer (or prefetch ratio)
* Quantifying accuracy of prefetch files
    * [ ] Number of cache hits
    * [ ] Total on-demand bytes served out of cache
    * [ ] Number of on-demand file fetches (aka cache miss)
    * [ ] Total bytes fetched on-demand
    * [ ] Latency be

[2021-07-12 13:59] rdpsin opened #366 "Make GZIP compression levels configurable when optimizing an image"
Currently, there is no way for users to specify the GZIP compresssion level when optimizing their images to eStargz format, using the ctr-remote tool.

I propose a change that adds a new flag to the 'optimize' subcommand: estargz-compression-level (similar to the flag in convert subcommand) which defaults to 9. Users can specify compression level using --estargz-compression-level <value> while opt

[2021-07-12 15:27] ktock commented on #366
@rdpsin SGTM. Would you like to open up the PR?

About the [proposed change]( https://github.com/rdpsin/stargz-snapshotter/blob/d69071baec43576653c4c14fd50a0e617f3a50cc/cmd/ctr-remote/commands/optimize.go#L145):

[code]

Rather than adding a new layer converter, could we have the something like the following function  (untested) in [nativeconverter pkg](https://github.com/containerd/stargz-snapsho

[2021-07-12 22:00] rdpsin commented on #366
Yes, that makes sense. I'll open a new PR soon.

[2021-07-13 15:52] rdpsin opened #369 "Snapshotter runs out of memory when resolving a large layer with prefetch enabled"
Hello,

I've recently run into an issue where the snapshotter runs out of memory when resolving a large layer. The image in question is the `pgbench 14` image. Unfortunately, I'm unable to provide the exact image as it is in a private repository.

**/etc/containerd-stargz-grpc/config.toml**
[code]

Available System Memory: ~16GB

The content of the stargz image is:

[code]

The issue only arises w

[2021-07-13 16:38] rdpsin commented on #364
@ktock Thanks. I don't think that is the issue. For example,  running:

[code]
returns

[code]

[2021-07-14 00:56] ktock commented on #366
Resolved in https://github.com/containerd/stargz-snapshotter/pull/368

[2021-07-14 00:56] #366 closed

[2021-07-14 01:27] ktock commented on #369
Thank you for reporting this. This seems a bug. We might need to limit the size of lrucache and buf pool.

[2021-07-14 15:48] ktock commented on #364
Are all configurations of `/etc/cni/net.d/optimizer.conflist` valid in your environment? (e.g. `subnet` of `ipam` plugin doesn't conflict with your host network, etc) There are some docs about the configuration (e.g. https://www.cni.dev/plugins/current/ipam/host-local/)

[2021-07-14 16:38] rdpsin commented on #369
How would one go about doing that?

[2021-07-14 23:45] RoyceDavison opened #370 "Can't use stargz to pull an image: "parent snapshot sha256:X does not exist: not found""
Hi, all:
I tried to use stargz snapshotter to pull an image and create a container in a golang program. However, an error was returned as below. Do I miss sth? or is there another docs I can follow for correct setup?
[code]
## Steps I followed
1. Install stargz snapshotter into containerd as shown ["Install Stargz Snapshotter for containerd with Systemd"](https://github.com/containerd/stargz-snaps

[2021-07-14 23:51] RoyceDavison commented on #370
This is the debug logging
[code]

[2021-07-15 00:40] ktock commented on #370
If you get the error on the creation (not pull) of the container, please provide the code sinppet where you create the container.
Have you specified [`WithSnapshotter`](https://github.com/containerd/containerd/blob/34fb8d8967595292adce04b53b12ee33499cd6b8/container_opts.go#L130-L138) option when creating the container?

[2021-07-15 07:03] RoyceDavison commented on #370
Sorry, my bad. I forget to specified [`WithSnapshotter`]. Another quick question, is there a way I can print out the snapshotter I'm currently using? I just want to make sure I am using "stargz" rather than "overlays".

[2021-07-15 09:42] ktock commented on #370
Thanks for confirming. Closing this.

maybe you can look at [`Container.Snapshotter`](https://github.com/containerd/containerd/blob/34fb8d8967595292adce04b53b12ee33499cd6b8/containers/containers.go#L69) structure.

[2021-07-15 09:42] #370 closed

[2021-07-15 15:45] ktock commented on #369
As a quick workaround, let's add a configuration to forcefully enable `Direct` mode for the cache. Then I'll work on improving the memory consumption of the cache (maybe we need something like *size-aware* `sync.Pool` implementation).

[2021-07-16 09:46] ktock commented on #369
@rdpsin  Please try v0.7.0  https://github.com/containerd/stargz-snapshotter/releases/tag/v0.7.0
You can enable direct mode of the cache to avoid this issue.

[code]

We'll work on the improvement of the memory consumption of the cache.

[2021-07-19 14:17] rdpsin opened #381 "Enable GPU support and net-host inside container when optimizing"
Currently, networking inside a container when optimizing through the ctr-remote tool is only
available through CNI-based networking plugins, not through `net-host`, which is often quite simpler. Furthermore, there is no option to enable GPUs inside the container when optimizing GPU-based images.

I propose changes to adds flags to the optimize command to enable both features.

The changes can be s

[2021-07-19 14:22] rdpsin commented on #364
Thank you for your help. Unfortunately, I wasn't able to fix the problem; I did however manage to enable networking inside the container by adding a `net-host` flag to the optimize command. Issue: https://github.com/containerd/stargz-snapshotter/issues/381

[2021-07-19 14:47] ktock commented on #381
SGTM

[2021-07-19 15:41] #364 closed

[2021-07-20 00:36] sumeetb25 commented on #349
@ktock Following are the image pull and run times for rabbitmq image

_Pull time for OCI image_ = Time required to execute `ctr i pull --user "$CR_USER:$CR_PASS" $IMAGE `
_Pull time for estargz optimized image_ = Time required to execute `ctr run $IMAGE container-id` and READY_LINE appearing on console

_Run time for OCI image_ = Time required to execute `./stargz-snapshotter/out/ctr-remote images

[2021-07-21 01:59] ktock commented on #381
Added in https://github.com/containerd/stargz-snapshotter/pull/382

[2021-07-21 01:59] #381 closed

[2021-07-25 12:50] imjasonh opened #386 "Pre-built kind node images"
The README recommends building a custom kind node image to use with kind. Could this image be automatically built and published to https://github.com/orgs/stargz-containers/packages instead, for users who don't want to build their own?

I know https://github.com/kubernetes-sigs/kind/pull/2076 tracks including the estargz-snapshotter in the kind image by default (or optionally), but until then, at

[2021-07-26 09:38] #386 closed

[2021-08-04 19:48] iamsumee opened #395 "Add log lines and update log levels to aid debugging"
Hi All,

stargz-snapshotter has log lines with debug log level for a few error conditions. Production ecosystems will usually not have enabled debug logging. I propose we update the log levels for failure conditions. And add a few more info log levels that can generally help debug if/when things go wrong.

Link to PR - https://github.com/containerd/stargz-snapshotter/pull/394

[2021-08-09 15:42] iamsumee commented on #395
Code changes merged into main. Resolving.

[2021-08-09 15:42] #395 closed

[2021-08-09 15:49] iamsumee opened #405 "How to inspect state directory to monitor on-demand filesystem errors"
Hi All,

The documentation [here](https://github.com/containerd/stargz-snapshotter/blob/main/docs/overview.md#state-directory) mentions the presence of hidden `state` directory at the root of the filesystem. Unfortunately I do not see any such directory at the root file system path.

[code]

Can someone please help me with the steps to locate the `state` directory. It will be super useful to monit

[2021-08-10 02:18] ktock commented on #405
@iamsumee You can inspect `state` directory inside the lazily-pulled container:

[code]

Or you can inspect state files of each snapshot under the snapshotter root dir (tipically /var/lib/containerd-stargz-grpc) on the host:

[code]

[2021-08-10 02:29] iamsumee commented on #405
Unfortunately I do not see the state directory at either the host or within the container.

[code]

At the host:
[code]

If it helps following is the content of my `config.toml`

[code]

[2021-08-10 02:40] ktock commented on #405
@iamsumee

`*` seems escaped incorrectly?

Could you try `/bin/bash -c 'ls /.stargz-snapshotter/*'`?

[code]

[2021-08-12 07:41] RoyceDavison opened #411 "Error message: unable to start container process: exec: "bash": executable file not found in $PATH: unknown"
# Problem Description
I tried to launch containerd in a default network namespace, and start stargz-snapshotter daemon in a different network namespace "stargz".  And pull the image and run the container using stargz-snapshotter inside the "stargz" network namespace, and an error was returned.

[code]

1. The network namespace is created as `sudo ip netns add stargz`, and configured the network in

[2021-08-17 03:34] vkuzniet commented on #405
@ktock, thank you for your help!
I was able to access it:
`
[ec2-user@ip-172-31-79-103 ~]$ sudo ./stargz-snapshotter/out/ctr-remote run --snapshotter=stargz --net-host $IMAGE container-id14 /bin/sh -c 'ls /.stargz-snapshotter/*'
/.stargz-snapshotter/sha256:b351995b18968208fc25eebd647205694d04876db60d4d79a67d1cc8ff50f4ff.json
/.stargz-snapshotter/sha256:c95ee4aba5b02db7bbf46410c26754b42ea8ce1cfbbdc

[2021-08-17 20:24] vkuzniet commented on #405
One more question though. Having the state directories within the container file system is good, but doesn't help when troubleshooting production issues, since there's a high likelihood that you may not have access there.
So the question is, does snapshotter persist the same data on the host where it's installed? That would be really helpful.
Note: I tried looking the files within `/var/lib/contai

[2021-08-18 02:28] ktock commented on #405
No it doesn't so far. Maybe we can print the contents of the state directory as a log when an error occur in the filesystem.

[2021-08-19 16:57] rdpsin opened #420 "Add helpful message whenever optimize period expires"
Currently the optimize tool does provide any message when the task is killed after the specified period expires.
This PR adds a WARN message to indicate that.

PR: https://github.com/containerd/stargz-snapshotter/pull/419

[2021-08-20 01:24] vkuzniet commented on #405
That works. Thank you!

[2021-08-20 04:51] #420 closed

[2021-08-20 07:15] ktock commented on #411
@RoyceDavison  sorry for the late response.

`ip netns` creates a new mount namespace and makes the propagation type of `/` [slave](https://www.kernel.org/doc/Documentation/filesystems/sharedsubtree.txt).

[code]

This seems prevents stargz-snapshotter's snapshots (mountpoints) being propagated to containerd's mount namespace.
Have you tried creating the network namespace using [unshare(1)](https:

[2021-08-20 23:53] alakesh opened #425 "Question around stargz's overlayfs implementation as fallback snapshotter."
Stargz snapshotter seems to have implementation for overlayfs snapshotter intended for fallback if image is not estargz. I see some common code between stargz and containerd's overlayfs. This is probably to support overlayfs as fallback snapshotter.

https://github.com/containerd/containerd/tree/main/snapshots/overlay/overlay.go
https://github.com/containerd/stargz-snapshotter/tree/main/snapshot/s

[2021-08-21 02:10] ktock commented on #425
Yes, stargz snapshotter fallbacks to overlayfs if the pulling image isn't stargz/estargz.

Overlayfs mode of stargz snapshotter is identical to overlayfs snaphsotter so you can use stargz snapshotter for non-stargz images as well.

In the future, we would like to see containerd overlayfs snapshotter supports configuring additional mounts so that we can use it as a module with configuring it for st

[2021-08-24 18:40] RoyceDavison commented on #411
If I ran the stargz snapshotter with `unshare`, seems there is always a stargz snapshotter running in the default network namespace as the following results shown. I would like to have all traffic via the plugged network interface(eth1) rather than the default network interface.
[code]

I used the following commands to run containerd-stargz-grpc
[code]

The problem is that even I turn down eth1, a

[2021-08-24 19:59] LukasRupprecht opened #428 ""Insecure" registry option not picked up by stargz-store"
I'm running the `stargz-snapshotter` with podman, using the stargz store, against a private registry (http only). My config.toml looks like this:

[code]

However, the `insecure` option doesn't seem to be picked up by the stargz-store so when trying to pull an image from the private registry, the store throws an error.

If this is of interest and there is no way currently to configure an insecure

[2021-08-25 02:49] ktock commented on #428
@LukasRupprecht Could you provide the command you run and the error message?

If you are pulling from `some-registry-host` rather than `mirror1`, the following config is needed to make it `insecure` mode.

[code]

`--tls-verify=false` option should be needed for podman.

[2021-08-25 16:17] LukasRupprecht commented on #428
Thanks for the quick reply @ktock! Changing the config the way you described works and it now picks up the `insecure` option.

Is the config format documented somewhere? I couldn't find it so only had the code to figure out, what options are supported and what the toml needs to look like.

[2021-08-30 01:56] ktock commented on #425
@alakesh [Our snapshotter](https://github.com/containerd/stargz-snapshotter/blob/189160caceb0a1c5fe25f5e929face62ec33c60a/snapshot/snapshot.go) is identical to containerd's overlayfs snapshotter except it accepts [`FileSystem` interface](https://github.com/containerd/stargz-snapshotter/blob/189160caceb0a1c5fe25f5e929face62ec33c60a/snapshot/snapshot.go#L68-L72) so that it can use mountpoints for sn

[2021-08-30 01:57] ktock commented on #405
This seems resolved. Closing.

[2021-08-30 01:57] #405 closed

[2021-08-30 21:03] vkuzniet opened #436 "How to subscribe for security vulnerability email list?"
Hi all,
Does stargz snapshotter project have the email list to notify about security vulnerability issues?
I'm looking at https://github.com/containerd/project/blob/main/SECURITY.md and was thinking that something similar exists within stargz snapshotter project.
Thanks in advance!

[2021-08-31 17:46] RoyceDavison commented on #411
I also tried with `nsenter`

[code]

Once I turn down the `eth1` in the first terminal
`# sudo ip -n stargz link set dev eth1 down`
run the image pull in the third terminal
[code]
It still work even the `eth1` is down. Where does all those traffics(insider the stargz network namespace) go through at this moment?

If I use CTROL + C to kill the /usr/local/bin/containerd-stargz-grpc in the second te

[2021-08-31 19:16] RoyceDavison commented on #411
I see this as sort of fallback behavior, when `eth1` is down, we can still pull the image due to overlayfs run in the default network namespace. After `eth1` is turned down, stargz snapshotter doesn't pull image from the stargz network namespace, instead, overlayfs comes into play since overlayfs is in the default network namespace so there will not be a network connection issue.
Is this a plausib

[2021-09-01 02:42] AkihiroSuda opened #444 "Can't start mariadb (`Bind on unix socket: No data available`)"
[code]

stargz-snapshotter v0.8.0, containerd/nerdctl@ccfe513d4adbf60944f7863792e7540eead6ec87

[code]

[2021-09-01 02:49] ktock commented on #411
Yes, stargz snapshotter fallbacks to overlayfs when it cannot reach to the registry.

In the following log you posted in the above, `fetching sha256:XXXXXXX... application/vnd.oci.image.layer.v1.tar+gzip` occurs which indicates fallback to overlayfs and containerd performs NON-lazy pull.

[code]

However it's interesting that in another log you posted in the above, there is no `fetching sha256:XXX

[2021-09-01 17:09] RoyceDavison commented on #411
Thank you. I just removed all local cached layer contents, and saw the overlayfs related logs.

[2021-09-01 17:09] #411 closed

[2021-09-13 02:31] lengrongfu opened #456 "Source code error under mac"
![image](https://user-images.githubusercontent.com/15009201/133015196-739269fc-5e29-4b21-a116-efe5d53248be.png)

[2021-09-13 07:29] AkihiroSuda commented on #456
You need GOOS=linux

[2021-09-13 07:29] #456 closed

[2021-09-15 07:48] codeyq opened #459 "Fail to create pod using stargz but works with rpull"
Hi,

I am trying to run stargz on top of GKE. The GKE version is from the latest Rapid channel so the `containerd` version meets stargz's requirement (> 1.4.2) as shown below
[code]
I followed this [guide](https://github.com/containerd/stargz-snapshotter/blob/main/docs/INSTALL.md) to setup the node and tried to launch the same `nodejs` pod and got the following k8s events. I double checked that `/

[2021-09-15 08:03] ktock commented on #459
@codeyq One possible difference between INSTALL.md and GKE nodes is the [version of config file](https://github.com/containerd/containerd/blob/main/RELEASES.md#daemon-configuration). If your config.toml doesn't have `version = 2`, configuration for stargz-snapshotter needs to be something like the following (`plugins.cri.containerd` table instead of `plugins."io.containerd.grpc.v1.cri".containerd`

[2021-09-15 16:23] vkuzniet opened #460 "Thoughts on adding `coverprofile` to `make test` action"
Hi All,
I noticed that `make test` action doesn't have `-coverprofile` enabled. I think it'll be beneficial for everyone to enable it, since it may help with showing the ratio of code covered by tests given that most likely people will run `make test` instead of running `go test -race ./... -coverprofile ...`.
I would like to know what community thinks about that?

[2021-09-15 17:25] rdpsin opened #461 "Lower layer prefetches take longer to start than previous layer prefetch"
Hello,

I was doing some profiling and found that lower layers prefetches take more time to start than the previous layer prefetch. I would like to know if this the expected behavior and why? (I thought all prefetches are started simultaneously)

By prefetch start, I mean the time `layer.Prefetch` is invoked (calculated using `time.Now().UnixNano()`):
https://github.com/containerd/stargz-snapshott

[2021-09-15 18:37] codeyq commented on #459
Thanks @ktock . I tried this config but still no luck.
- `/etc/containerd/config.toml`
[code]
- `containerd` startup log
[code]

[2021-09-16 00:30] ktock commented on #460
How about adding an environment variable for customizing `go test` options ? (like already done in some build targets)
https://github.com/containerd/stargz-snapshotter/blob/25d16aa63c923724de9478754e5ed70f67f3b31e/Makefile#L39

[2021-09-16 00:59] vkuzniet commented on #460
That should work, thank you.
I will work on the PR.

[2021-09-16 01:08] vkuzniet opened #466 "Fail to run `make integration` locally"
Hi All,
I'm trying to run integration tests locally using `make integration` with little luck (same is true for other containerized tests).
I tried building it on 2 machines with following OS configurations:
- Ubuntu 20.04
- Amazon Linux 2
I've installed `docker`, `docker-compose` and `go 1.17` as a prerequisite.
Am I doing something wrong?
Here's what I'm getting as the output:

[code]

[2021-09-16 01:11] ktock commented on #466
Have you enabled BuildKit?
https://github.com/containerd/stargz-snapshotter/blob/84a6da6faf8cc403295fe3b87d28c4c0c07abcd5/.github/workflows/tests.yml#L4-L5

[2021-09-16 01:41] vkuzniet commented on #466
I did not.
Enabling it solves the problem.
Thank you very much!

Can we have something like `Testing` section in https://github.com/containerd/containerd/blob/main/BUILDING.md#via-docker-container  documented for `stargz snapshotter`?

[2021-09-16 01:51] ktock commented on #466
Yes, it would be great to have `BUILDING.md` containing Testing section in our repo.

[2021-09-16 02:32] ktock commented on #459
@codeyq containerd CRI plugin seems to recognize stargz-snapshotter.

[code]

Does stargz-snapshotter service output any logs this time?

[2021-09-16 05:11] codeyq commented on #459
Thanks @ktock I killed the node and did the whole setup again (with the updated config you mentioned above). Somehow it works now. I am able to see files under `ls /.stargz-snapshotter/` as well as snapshots at `/var/lib/containerd-stargz-grpc/snapshotter/snapshots/`. Appreciate the help!

[2021-09-16 05:11] #459 closed

[2021-09-17 15:56] ktock commented on #461
This is because the prefetch of each layer is called after verification which is not performed simultaneously.
I've created a patch #467 to fix this issue.

[2021-09-18 07:37] RobberPhex opened #473 "Could stargz format be compatible to Docker Image Manifest V2?"
There is some legacy Kubernetes cluster is using Docker <v19.03.0, which is not support OCI image.

So, Could stargz format image be stored in [Docker Image Manifest V2](https://docs.docker.com/registry/spec/manifest-v2-2/) image?

[2021-09-21 07:54] ktock commented on #473
Yes eStargz is compatible to Docker images as well.
If the source image is Docker image, `ctr-remote` preserves the image format unless you specifiy `--oci` option.

[2021-09-21 07:54] #473 closed

[2021-09-27 14:05] ktock commented on #466
Closing this as the initial issue is resolved.

[2021-09-27 14:05] #466 closed

[2021-09-28 21:46] #461 closed

[2021-09-30 16:42] #425 closed

[2021-10-01 16:13] #262 closed

[2021-10-06 12:21] ktock opened #487 "Support rootless stargz store"
Stargz store should support rootless (especially w/ podman).
(The additional "image" store seems to requrie `chmod -R` : https://www.redhat.com/sysadmin/image-stores-podman)

[2021-10-08 19:23] rdpsin opened #490 "Use of `--reuse` option during `ctr-remote i optimize`"
Hello,

I'm bit confused about the `reuse` flag available when optimizing images. It allows the tool to skip over already existing eStargz layers in the image. I'm curious what the use case is? Authoring new images using an eStargz image as base image (`docker` and `podman` strip away annotations when pulling eStargz images, so eStargz images are still converted)?

Thanks.

[2021-10-11 13:21] ktock commented on #490
Yes, they are the major use-cases of that flag.

We should fix the `ctr-remote` implementation to avoid recreation of such layers and generate only necessary annotations.

[2021-10-14 20:21] ktock commented on #490
Yes, they are.

`io.containers.estargz.uncompressed-size` is also added so that podman can perform lazy pulling.

https://github.com/containerd/stargz-snapshotter/blob/4fe81f7a9e4d90054c867475148bf2b0abfa8448/nativeconverter/estargz/estargz.go#L150-L151

[2021-10-20 14:55] ktock commented on #490
@rdpsin Have you tried the recent BuildKit (or Docker Buildx) ?
It now supports estargz.

https://github.com/moby/buildkit/blob/8778943ac3da296d144319618f86a6c46fcc5eba/docs/stargz-estargz.md#creating-stargzestargz-images

NOTE: master version of BuildKit supports estargz but it's not released yet.

[code]

[2021-10-21 17:38] #490 closed, assigned to nobody

[2021-10-22 09:54] AkihiroSuda opened #494 "Image request: `php:apache`"
We already have `php` https://github.com/orgs/stargz-containers/packages/container/package/php , but it would be nice to have `php:apache` variant too

[2021-10-22 11:02] #494 closed, assigned to nobody

[2021-11-02 14:48] gtxu opened #509 "Add test coverage report for Pull Request"
For now we have a unit test for all component before PR get merged, but we don't have unit test coverage report for a single PR. There are tools (such as [Coveralls](https://coveralls.io/))that automatically post unit test coverage report for a PR in comment. This may be a considerable option for stargz-snapshotter.

[2021-11-02 19:21] gtxu commented on #509
An example of coveralls
<img width="1203" alt="Screen Shot 2021-11-02 at 3 12 43 PM" src="https://user-images.githubusercontent.com/91280642/139931410-ab6117e6-d2fa-4e63-aada-558dc91ae5fc.png">
:

[2021-11-05 09:42] ktock commented on #369
FYI: Specifying `metadata_store = "db"` in config.toml enables storing filesystem metadata on disk. (since v0.10.0)
This can reduce the memory consumption of `containerd-stargz-grpc` (https://github.com/containerd/stargz-snapshotter/pull/415#issuecomment-948366623).

[2021-11-05 14:25] vkuzniet commented on #509
Hi ktock@, what do you think about adding this to the existing pipeline of stargz snapshotter?

[2021-11-08 08:51] ktock opened #517 "Fix IPFS-enabled image cannot be pulled by containerd and podman"
According to OCI Image Spec, `ipfs://` scheme is not prohibited in the OCI Descriptor's `urls` property,

(ref: https://github.com/opencontainers/image-spec/blob/v1.0/descriptor.md#properties)

However, some runtimes (containerd and podman) doesn't allow unsupported schemes to be contained in `urls`.
(Docker supports this image though)

[code]

[code]

[code]

Though we should fix these runtimes t

[2021-11-08 21:32] csantanapr opened #518 "Location of v0.10.0 estargz node kind image?"
I was wondering if the new version `v0.10.0` image was going to be posted? `ghcr.io/stargz-containers/estargz-kind-node:0.10.0`

I checked and is not available
[code]

[2021-11-09 00:45] ktock commented on #518
Thank you for reporting this. Published `0.10.0`. https://github.com/orgs/stargz-containers/packages/container/estargz-kind-node/10002580?tag=0.10.0

You can also build any versions of images by running `docker build` using our Dockerfile https://github.com/containerd/stargz-snapshotter/blob/main/Dockerfile.

[2021-11-09 01:45] csantanapr commented on #518
Thank so much @ktock

I didn't see the Dockerfile thanks for letting me know.

[2021-11-09 02:02] ktock commented on #518
Thank you for your reporting. Closing this.

[2021-11-09 02:02] #518 closed

[2021-11-10 17:09] aledbf opened #520 "kernel 5.15: Unexpected error starting nodejs demo pod (`mounting "/var/lib/kubelet/pods/.../etc-hosts" to rootfs at "/etc/hosts" caused: open /run/containerd/io.containerd.runtime.v2.task/k8s.io/.../rootfs/etc/hosts: function not implemented`)"
Testing stargz-snapshotter I see an unexpected error for stargz images. "standard" images work without any issues

Environment:
- k3s v1.22.2+k3s2
- nerdctl v0.13.0
- kernel 5.15.1-051501-generic
- Ubuntu 20.04

Error:
[code]

[2021-11-11 09:49] ktock commented on #520
Thank you for reporting this.
It seems that overlayfs changed the behaviour since 5.15 (please see https://github.com/hanwen/go-fuse/issues/406 for details) and this causes the failure of the rootfs preparation of the container.

Could you please try it with the kernel 5.14 or older? We're working on fixing this.

[2021-11-11 11:08] aledbf commented on #520
@ktock thank you for the quick response. As you said, it works with 5.14.

[2021-11-11 23:48] gibmat opened #521 "Tests fail when run on IPv6-only host"
Two tests try to download a test file from GitHub, which is only available over IPv4 networks. This causes those tests to fail if they are run on an IPv6-only host. Please consider bundling the test file with this library, or hosting it on a server that is reachable over IPv6.

[code]

[2021-11-18 15:36] aledbf opened #526 "Issue pulling in a busy host - too many open files"
**Environment:**

- k3s v1.22.2+k3s2
- nerdctl v0.13.0
- kernel 5.14
- Ubuntu 20.04

The default [systemd service](https://github.com/containerd/stargz-snapshotter/blob/main/script/config/etc/systemd/system/stargz-snapshotter.service) does not contain any limit (like LimitNOFILE).

Running a load test, I see this error:

[code]

Is there a recommended value for LimitNOFILE?
Thanks!

[2021-11-22 10:38] PKizzle commented on #215
Also happens for AWS ECR registries:
[code]

[2021-11-23 03:10] ktock commented on #517
This issue has been fixed by containerd v1.5.8 and podman (containers/image v5.17.0).

[2021-11-23 03:10] #517 closed

[2021-11-23 05:56] ktock commented on #526
@aledbf Sorry for the late reply.

Thank you for reporting the error!
We've recently added improvements on resource utilization (e.g. [the change of the default configuration of cache](https://github.com/containerd/stargz-snapshotter/blob/7c69ddd1acb4e5dcaa035fb1a98cc6826d225a69/fs/config/config.go#L83) can reduce the num of opening files). We are working on downstreaming this to k3s so please try

[2021-11-24 18:58] aledbf commented on #526
The default `LimitNOFILE` value [containerd](https://github.com/containerd/containerd/blob/f0a32c66dad1e9de716c9960af806105d691cd78/containerd.service#L33) is a bit aggressive. I am using `1048576` now (arbitrary number).

[2021-11-24 19:00] aledbf opened #537 "Unexpected error since nerdctl v0.14.0"
I see this error since nerdctl v0.14.0
[code]

I am using a similar approach to https://github.com/kubernetes-sigs/kind/pull/2076 to configure starts
maybe I am doing something wrong?

[2021-11-25 00:47] ktock commented on #537
#539 might be related to this.

Could you elaborate on the issue?

- What command did you run and what result did you get when the error is logged?
- Could you provide lines of logs around `Failed to obtain reader`?

[2021-11-25 15:40] Romain-Geissler-1A opened #540 "fuse mount /var/lib/stargz-store/store has no read write"
Hi,

I try to follow the installation procedure for podman found here https://github.com/containerd/stargz-snapshotter/blob/main/docs/INSTALL.md on a RHEL 8.5 machine (x64). I did install fuse and didn't tailor anything (that I know of), using v0.10.1.

In the end, here are the rights I have in /var/lib/stargz-store:

[code]

which seems weird, and indeed, when running podman (as root), it doesn't

[2021-11-25 23:03] ktock commented on #540
It seems that the error comes from [additional**image**store](https://github.com/containers/storage/blob/b1f1ca77147adec41b7f6346f15fc4889cdd9f98/drivers/overlay/overlay.go#L444-L463) configuration but not from additional**layer**store needed for lazy pulling. Please configure additional**layer**store as described in https://github.com/containerd/stargz-snapshotter/blob/main/docs/INSTALL.md

And p

[2021-11-25 23:39] Romain-Geissler-1A commented on #540
Ah, I feel dumb right now !

Indeed you are right, it works with additional**layer**stores (with an "s" at the end). I didn't copy/paste the full line from the installation page, only the value, as by default podman configuration files comes with an empty additionalimagestores array, and I read it too quickly.

Thanks for the support, and really sorry for not strictly following the installation pr

[2021-11-25 23:39] #540 closed

[2021-12-01 08:21] AkihiroSuda opened #546 "Image request: nixos/nix"
https://hub.docker.com/r/nixos/nix/

:pray:

[2021-12-01 08:52] ktock commented on #546
:+1:
 `ghcr.io/stargz-containers/nixos/nix:2.3.12-org`

https://github.com/orgs/stargz-containers/packages/container/nixos%2Fnix/11118837?tag=2.3.12-org

[2021-12-14 01:50] jonyhy96 opened #560 "service name confusion"
stargz-snapshotter show logs like:
[code]
but u should use `journalctl -u stargz-snapshotter`  to see only snapshotter's log. it may confused if it is not `journalctl -u containerd-stargz-grpc`

maybe the names on both sides should be consistent.

[2021-12-14 01:50] jonyhy96 commented on #560
/cc @kzys

[2021-12-16 12:03] AkihiroSuda commented on #546
Thx, could you update to v2.5.0
(Btw maybe it's good time to update other images too)

[2021-12-16 12:44] ktock commented on #546
https://github.com/orgs/stargz-containers/packages/container/nixos%2Fnix/11938468?tag=2.5.0-org

I'll work on it.

[2021-12-16 12:44] #546 closed

[2022-01-20 06:12] fannaihao opened #595 "no state directory"
I  am concerned about how much data has been pull to local.
According to  https://github.com/containerd/stargz-snapshotter/blob/main/docs/overview.md , it should have a state directory under container's root path.
But I can't find any:
    command:
    `ctr-remote images rpull --snapshotter=stargz iregistry.harbo.com/research/wordpress-estargz:latest`
    `ctr-remote run --rm -t --snapshotter=star

[2022-01-20 06:25] ktock commented on #595
@fannaihao Does it work with other images like `ghcr.io/stargz-containers/ubuntu:20.04-esgz` ?

[code]

Could you provide the log of `containerd-stargz-grpc` ?

[2022-01-20 07:19] fannaihao commented on #595
when I start the container, log prints:
`{"key":"default/296/test2","level":"debug","mount-point":"/var/lib/containerd-stargz-grpc/snapshotter/snapshots/26/fs","msg":"layer is normal snapshot(overlayfs)","time":"2022-01-20T14:19:27.154726108+08:00"}
{"key":"default/296/test2","level":"debug","mount-point":"/var/lib/containerd-stargz-grpc/snapshotter/snapshots/25/fs","msg":"layer is normal snapshot

[2022-01-20 07:51] ktock commented on #595
@fannaihao

Lazy-pulling seems to fail on your node. How did you converted it? Cloud you provides the command lines you used for conversion?

Please use images that have `-esgz` suffix. i.e. Use `ghcr.io/stargz-containers/jruby:9.2.8.0-esgz` instead of `ghcr.io/stargz-containers/jruby:9.2.8.0-org`.

Does lazy pulling succeed using `ghcr.io` instead of `iregistry.harbor.com`?

[2022-02-20 23:53] RealHarshThakur opened #653 "IPFS trickle layout for estargz images"
Hey folks, I was wondering if trickle layout would be better in case estargz is enabled over here as it would reduce the time to first byte: https://github.com/containerd/stargz-snapshotter/blob/main/ipfs/converter.go#L58

If it's not/doesn't matter, would love to learn why.
Thanks.

[2022-02-21 00:27] ktock commented on #653
We haven't tried trickle layout but patches are welcome if they improve the performance.

When lazy pulling eStargz, stargz-snapshotter firstly reads 51 bytes footer (i.e. "last" 51 bytes of a file), rather than the first byte.

[2022-02-23 12:42] aledbf commented on #537
Closing. I cannot reproduce with latest version

[2022-02-23 12:42] #537 closed

[2022-02-23 12:54] aledbf opened #660 "Error running non-stargz image"
I am trying to run an image and I get an error

`
Feb 23 12:25:17 g1d4432f5d44ad3f0602c3b containerd-stargz-grpc[37819]: {"error":"failed to resolve layer: failed to resolve layer \"sha256:e9444ec2d0d74706e9f21c69197f72e2b34056bf07c22e6e0590eeee3746eb75\" from \"reg.g1d4432f5d44ad3f0602c3b.workspace-preview.io:30000/remote/f1e4fe39-fa4d-4ed0-b0d2-023e9ded94c0:latest\": failed to resolve the blob:

[2022-02-24 00:48] ktock commented on #660
@aledbf Thank you for reporting the issue.

 The error seems to come from [here](https://github.com/containerd/stargz-snapshotter/blob/b1ce4c8d829481f954fa3bc4ce5ed9567c708698/fs/remote/resolver.go#L350-L398).
During mounting a layer, stargz snapshotter tries to get size of that layer by sending [`HEAD` to `/v2/<name>/blobs/<digest>` endpoint](https://github.com/opencontainers/distribution-spec/bl

[2022-02-24 13:34] ktock commented on #660
I noticed that your log shows `"remote-snapshot-prepared":"false"` log and this is an expected behaviour for **non-stargz** images. I believe stargz snapshotter should fallback to (non-lazy) overlayfs-mode.
Are there any error logs on containerd side?

[2022-03-02 00:23] ktock commented on #526
@aledbf
This has been mitigated by #600 included to v0.11 (k3s since https://github.com/k3s-io/k3s/commit/7f4aa59014fe495069b3f3492b1780d59c73e486)

Overview of fd consumption of stargz-snapshotter is the following (quoted from https://github.com/containerd/stargz-snapshotter/pull/600):

Please open an issue if it still opens too much files.

[2022-03-02 00:28] #520 closed

[2022-03-02 12:09] aledbf commented on #526
@ktock thanks!

[2022-03-02 12:09] aledbf commented on #520
@ktock thanks!

[2022-03-04 08:44] ktock opened #668 "Support non-registry mount sources"
Stargz snapshotter should support more mount sources other than registry.
They include the following (discussed at https://github.com/moby/buildkit/pull/2685#issuecomment-1058888215).

- local OCI directory
- BuildKit Github Actions cache

[2022-03-04 08:49] ktock commented on #254
@nicktming How is this issue going?

[2022-03-04 08:55] ktock commented on #340
It seems that go-fuse added support of `fusermount3` (https://github.com/hanwen/go-fuse/commit/934a183ed91446d218b5471c4df9f93db039f6e1) so now we can fix our implementation to use `fusermount3`.

[2022-03-04 08:59] ktock commented on #595
@fannaihao How is this issue going?

[2022-03-09 06:08] fannaihao commented on #595
Eventually, I find it's an auth problem that lead to stargz-snapshotter get image information from private http registry failed.
Solved following this: https://github.com/containerd/stargz-snapshotter/blob/main/docs/overview.md#registry-mirrors-and-insecure-connection

[2022-03-24 07:46] fannaihao opened #702 "Any stargz-snapshotter production environment use case"
Do we have any production environment use case information about stargz-snapshotter?
I think it is an important means to advertise stargz-snapshotter and convince people : )

[2022-03-24 08:21] ktock commented on #702
- Using stargz-snapshotter with variety of tools (e.g. Kubernetes, k3s, nerdctl(containerd), Podman/CRI-O, Kaniko, etc):  https://medium.com/nttlabs/lazy-pulling-estargz-ef35812d73de and #258
- Lazy pulling of base images (`FROM` instruction of Dockerfiles) on BuildKit: https://github.com/moby/buildkit/blob/master/docs/stargz-estargz.md
- Speeding up analysis pipelies which use gigabytes container

[2022-03-24 08:27] #702 closed

[2022-03-24 14:17] gabrieldemarmiesse opened #703 "Can't restart stargz daemon"
I'm using ECR and nerdctl, and credentials for ecr expire after 12 hours, so that might impact stargz after a reboot.

[code]

[code]

EDIT: It might have something to do with https://github.com/containerd/stargz-snapshotter/issues/314 but I'm not sure.

[2022-03-25 01:15] ktock commented on #703
@gabrieldemarmiesse Do you use SIGINT to stop snapshotter? If so, please try SIGTERM.
And, as of now, you need to re-run containers too.

If you use SIGINT, it performs graceful cleanup which unmounts and deletes *all* snapshots under /var/lib/containerd-stargz-grpc.
This is useful to make sure the node is fully cleaned up but, as of now, restoring snapshots isn't supported for SIGINT.
If you use

[2022-03-28 01:43] ktock opened #715 "Add CI to automate building and pushing `estargz-kind-node` and pre-converted estargz images"
We should have CI to automate building & pushing of [`estargz-kind-node`](https://github.com/orgs/stargz-containers/packages/container/package/estargz-kind-node) and [pre-converted estargz images](https://github.com/containerd/stargz-snapshotter/blob/main/docs/pre-converted-images.md).
We publish these images on [`stargz-containers`](https://github.com/stargz-containers) org so we should have that

[2022-03-28 01:45] ktock commented on #715
cc @AkihiroSuda

[2022-03-28 15:55] catric96 opened #716 "[Discussion] Lazy pulling additonal flags"
Hi,

I was wondering if stargz-snapshotter can be configured to pull the entire image after what was required for the container to start is pulled. Let's say I'm trying to start a container with a estargz image, start it, but then would like to eventually have the whole image present after the container has already started with the minimal chunks of the image present. This way I would be safe in t

[2022-03-29 00:00] ktock commented on #716
Yes, this is the default behaviour.
You can monitor the status of pulling at `/.stargz-snapshotter` in the container: https://github.com/containerd/stargz-snapshotter/blob/v0.11.3/docs/overview.md#state-directory

[2022-03-29 12:03] ktock commented on #716
Closing this because this is answered by https://github.com/containerd/stargz-snapshotter/issues/716#issuecomment-1081264417

[2022-03-29 12:03] #716 closed

[2022-03-30 08:32] AkihiroSuda opened #717 "Request: update `ghcr.io/stargz-containers/golang` to 1.18"

[2022-03-30 11:00] ktock commented on #717
Updated: https://github.com/orgs/stargz-containers/packages/container/package/golang

[2022-03-30 11:02] AkihiroSuda commented on #717
Thanks

[2022-03-30 11:02] #717 closed

[2022-04-04 03:06] ktock commented on #703
@gabrieldemarmiesse Is this still an issue? Cloud you try https://github.com/containerd/stargz-snapshotter/issues/703#issuecomment-1078560008 ?

[2022-04-04 07:18] gabrieldemarmiesse commented on #703
Oups, sorry, I totally forgot to answer. The bug was triggerred because I rebooted my pc. I can confirm that with ctrl-c (sigint), the cleanup is done and there is no issue. We can close this :)

[2022-04-04 07:18] #703 closed

[2022-04-07 11:05] fannaihao commented on #595
Err message is:
`failed to fetch oauth token: authorization server did not include a token in the response`
I'm not sure if there is a problem with my registry?

[2022-04-07 11:30] ktock commented on #595
Could you check you authorization server configuration?

https://github.com/containerd/containerd/blob/f033f6ff85ce397202ee69de22b4e3a4bf4093f5/remotes/docker/auth/fetch.go#L35-L37

[code]

[2022-04-07 11:41] fannaihao commented on #595
I have put the registry auth token in `~/.docker/config.json`, It seems not work... There is still ErrNoToken error.

[2022-04-07 12:17] ktock commented on #595
Please ensure `$DOCKER_CONFIG` for containerd-stargz-grpc set propery and reboot containerd-stargz-grpc daemon.

[2022-04-07 14:29] ktock commented on #595
Closing as it's solved.

[2022-04-07 14:29] #595 closed

[2022-04-19 07:15] yueyuep opened #742 "3 error(s) occurred gzip: invalid header* legacy: failed to get footer gzip reader: gzip invalid header"
when use  stargz snapshotter to pull private images on Kubernetes , it don't work, and just pull all layers.
i use kubectl create secret `regcred,`  then use  CRI-based authentication according to https://github.com/containerd/stargz-snapshotter/blob/main/docs/overview.md
`test_pol.yaml:`
the `registry.baidubce.com/stargz-work/wordpress-stargz-opt:latest` is stagz image
![image](https://user-image

[2022-04-19 07:20] yueyuep commented on #742
systemctl status stargz-snapshotter.service

![image](https://user-images.githubusercontent.com/38725707/163947129-d40c22e3-a860-4af1-a8af-04b017551fde.png)

`less /var/log/message
`
![image](https://user-images.githubusercontent.com/38725707/163947663-9ad4b5fd-3ef5-44d8-8e58-4dffe6a9f798.png)

[2022-05-20 09:27] xujihui1985 commented on #306
running snapshotter in daemonset is a little tricky. first we should mount host path with bidirectional propagation, so that when you mount inside daemonset it will propagation to host, and second, it is hard to upgrade daemonset once it is running, but it actually a good way to distribute snapshotter in k8s environment. We did a lot effort to make a snapshotter to running in daemonset.
@ktock can

[2022-05-20 09:44] ktock commented on #306
@xujihui1985 Maybe this is related to https://github.com/containerd/containerd/issues/5667

[2022-06-24 05:26] ktock commented on #742
You need to do the following as well https://github.com/containerd/stargz-snapshotter/blob/v0.11.4/docs/overview.md#cri-based-authentication

About https://github.com/containerd/stargz-snapshotter/issues/742#issuecomment-1102185315 , the following look like non-estargz images.

[2022-07-07 01:14] vadimberezniker opened #842 "background fetching can cause data corruption"
I have been experimenting with container image streaming using stargz-store + podman, but have run into some odd behavior which I have narrowed down to the "background fetch" feature. When background fetching is enabled, the store can return wrong contents for files.

**After a few days of debugging, I think the following is happening**:
When a layer is first resolved, a new `memory.reader` is cre

[2022-07-07 02:04] ktock commented on #842
@vadimberezniker Thank you for the detailed report.

Yes, that solution sounds good to me. Would you be willing to create a patch to fix it?

[2022-07-07 02:07] vadimberezniker commented on #842
Yes, I can work on a patch tomorrow.

[2022-07-07 02:10] ktock commented on #842
@vadimberezniker Thanks!

[2022-07-08 05:10] #842 closed

[2022-08-19 01:03] AkihiroSuda commented on #258
Linking
- https://github.com/rancher-sandbox/rancher-desktop/issues/2707

[2022-08-19 13:30] LEDfan opened #893 "Unable to make it work on EKS with ECR"
Hi

First of all, thanks for working on this project, it's a very interesting approach!

I'm trying to use this project on an AWS EKS cluster using a private AWS ECR registry. It works for the example estargz images, but not for our own images in the ECR. These images were converted to estargz images using ctr-remote, I checked the contents of the images and there is a `stargz.index.json` in every

[2022-08-23 07:35] ktock commented on #893
@LEDfan Thank you for reporting this. I'm looking into it deeply.
Could you provide the following additional information about nodes and cluster:

- When stargz-snapshotter reports the error, what does the events field of `kubectl describe` show? Does creating the pod complete?
- When stargz-snapshotter reports the error, what does `mount` command show on your node? Does `stargz` mount appear on t

[2022-08-26 08:06] LEDfan commented on #893
Hi
Thank you for your reply.

The events on the pod are:

[code]

I forgot to mention this before, but the pod sucessfully starts up. However, the image gets completely pulled before the pod is able to startup. (It's a relatively large image, so ~1 minute of pull time is what we expect on a fresh node).

Here is the full output of the mount command:

<details>

[code]

</details>

I see a lot of t

[2022-08-31 04:03] jonyhy96 opened #904 "Why there is no prefetch.landmark in toc of ghcr.io/stargz-containers/node:17.8.0-esgz"
As https://github.com/containerd/stargz-snapshotter/blob/main/docs/estargz.md#prioritized-files-and-landmark-files mentioned that there should be a prefetch.landmark between prefetch area and no-prefetch area, but i don't see  prefetch.landmark in toc of ghcr.io/stargz-containers/node:17.8.0-esgz.

Step to reproduce
[code]

startgz.index.json
[code]

[2022-08-31 08:02] ktock commented on #893
@LEDfan Tried this on EKS but couldn't be reproduced. Did you do any special configurations for registry auth aside from just pushing the image to ECR as a private image?

And please make sure that all of kubelet, containerd and stargz-snapshotter are fully restarted after changing the configuration and kubelet's `--image-service-endpoint` points to stargz-snapshotter's socket. Restarting order sh

[2022-08-31 08:19] ktock commented on #904
Why not use `crane pull`

[code]

[2022-08-31 08:19] #904 closed

[2022-08-31 08:26] jonyhy96 commented on #904
Thanks! but why the startgz.index.json is diffirent ?

[2022-08-31 08:31] ktock commented on #904
It's not different:

[code]

[2022-08-31 08:34] jonyhy96 commented on #904
Is that because of `crane export` will only keep the last esgz layer's toc? so i can't see 8f88141ab7ac3dcea93ab605a11a769367d058bd5c7f713ad96b816fe47155f3's toc

[2022-08-31 08:38] ktock commented on #560
You can change the service name by your own

[code]

[2022-08-31 08:38] #560 closed

[2022-08-31 08:43] ktock commented on #904
`crane export` exports the exploded rootfs view so the topmost layer's `stargz.index.json` is contained in that tarball but `stargz.index.json` is creted per layer so you need to use `crane pull` to inspect each `stargz.index.json` in each layer.
see also: https://github.com/google/go-containerregistry/blob/v0.11.0/cmd/crane/doc/crane_export.md

[2022-09-01 12:55] LEDfan commented on #893
Hi, thanks for your effort.

Unfortunately I'm not getting it to work. We are authentication to ECR using an IAM role attached to the EC2 instances.
I tried restarting the components in the order you specified and also made sure `fuse` is installed, but it didn't help.

As an experiment, I uploaded a stargz image to a private image on Docker hub. Next, I created a pull secret in Kubernetes for thi

[2022-09-02 09:53] gabrieldemarmiesse commented on #258
In the new Docker desktop, the containerd image store is in beta. I tried it and it used stargz as the default snapshotter. It's a bit slower than nerdctl but pretty cool nonetheless

[2022-09-03 12:52] ktock commented on #893
@LEDfan

Thanks for trying this. Did you observed error logs reported by kubelet?
Kubelet prints warn and error when it cannot access to the specified image service endpoint (in this case, stargz-snapshotter socket).

[code]

Please see the following reproduction step

- Version and location
  - AMI ID: ami-092cc88f5f93a14d3
[code]
  - Kubernetes 1.21:
[code]
  - region: us-west-2

I followed your

[2022-09-04 11:32] gabrieldemarmiesse commented on #715
I'm interested in having more pre-converted images and allow users to add more, by making a pull request, if they need it. I believe this will help adoption a lot at a time when Docker is making the stargz snapshotter the default in their Docker desktop with containerd beta.

I've read through what the CI does right now and it seems it's a python script executed on a remote VM that does the job of

[2022-09-04 14:29] gabrieldemarmiesse commented on #715
I made a repository that does the conversion and pushing: https://github.com/gabrieldemarmiesse/estargz-images

If that works for you we can move it to the [stargz-containers](https://github.com/stargz-containers) org.

[2022-09-05 12:43] ktock commented on #715
@gabrieldemarmiesse  Thank you for your interest. Yes, I agree that we should have a CI in `github.com/stargz-containers` that has a list of pre-converted images and automatically pushes them to `stargz-containers`.

SGTM. The CI should based on [`script/benchmark`](https://github.com/containerd/stargz-snapshotter/blob/v0.12.0/script/benchmark). This already contains [a list of images](https://git

[2022-09-05 15:36] gabrieldemarmiesse commented on #715
Thank you, I believe it's clearer now. I'll continue my work on my custom repo and ping you when the conversion and push is implemented (for the moment, I only support entrypoint, -org and -esgz). I'll then move the benchmark in a second time

[2022-09-10 21:51] gabrieldemarmiesse commented on #715
@ktock could I have feedback on https://github.com/gabrieldemarmiesse/estargz-images ? I did all the code to convert and push images automatically if they don't exist in the registry yet, I've added all the images of the benchmark.

The only pain point so far is some kind of flakyness I have a hard time to debug. When checking if the manifest exists in ghcr.io (that happened with dockerhub too) I

[2022-09-13 16:09] ktock commented on #893
kindly ping @LEDfan . How is this issue going?

[2022-09-13 16:11] ktock commented on #742
@yueyuep Is this still an issue?

[2022-09-14 20:57] ktock commented on #715
Thank you.

- Please add `set -eu` to all shellscripts.
- Please check sha256sum of the downloaded nerdctl.

Remaining issue is that estargz-images doesn't seems to support passing stdin to `ctr-remote` (i.e. conversion of [`CMD_STDIN`](https://github.com/containerd/stargz-snapshotter/blob/main/script/benchmark/hello-bench/src/hello.py#L127-L134) in `hello.py`). But maybe we can do them in the fol

[2022-09-15 07:26] LEDfan commented on #893
Hi @ktock

I didn't had much time to work on this. However, everything is working now, although not on the first attempt. I don't really know why I didn't get it to work before. But your hint that the components have to be restarted in the correct order was very helpful, I didn't did this before.

Some notes that can be helpful for others:

- I made sure to install fuse in the userdata script. As

[2022-09-15 07:26] #893 closed

[2022-09-15 08:52] ktock commented on #893
@LEDfan Thank you for trying it and I'm happy to hear that everything is working now. We'll work on better documentation (tracked in https://github.com/containerd/stargz-snapshotter/issues/306). Of course, contribution is very welcome for the documentation about configuration on EKS with ECR based on your experience :smile:

[2022-09-15 14:59] gabrieldemarmiesse commented on #715
Thanks, it's quite clear.

I could implement the stdin but I'm not sure it's necessary. It's hard to find docker images that can be optimized only by using stdin to run them. Even the ones already in the list you gave me could use --entrypoint instead.

Maybe, to avoid having dead code in the repo, we could implement the stdin only when we encounter a docker image where stdin is the only way to op

[2022-09-16 06:14] ktock commented on #715
@gabrieldemarmiesse

SGTM

If you're interested in moving that repo under `github.com/stargz-containers`, that code will be maintained by stargz-snapshotter project so please keep the following in mind:

- That repo needs to be licensed under Apache License 2.0 (https://github.com/containerd/stargz-snapshotter/blob/v0.12.0/LICENSE).
- Because the transferred repo will be maintained under stargz-sn

[2022-09-18 19:38] gabrieldemarmiesse commented on #715
Here are some updates on the repo https://github.com/gabrieldemarmiesse/estargz-images :
* ✅ Please add set -eu to all shellscripts
* ✅ Please check sha256sum of the downloaded nerdctl.
* ✅ That repo needs to be licensed under Apache License 2.0
* ✅ No more 403 errors with crane, it has been fixed by creating a custom token and adding it to the repository secrets. It seemed the default token didn'

[2022-09-21 04:50] jonyhy96 opened #920 "[help wanted] failed to start fanotifier: EOF"
CODE:
[code]
STEP TO REPRODUCE:
[code]
LOG:
[code]

[2022-09-21 04:53] jonyhy96 commented on #920
If there any sample code i can use to get the priority files not using `ctr-remote i optimize --record-out`, because i don't want to optimize image, i just need priority files

[2022-09-21 09:53] ktock commented on #920
Use analyzer via `ctr-remote` command.

As of now it's not supported but contributions are welcome.

[2022-09-21 09:53] #920 closed

[2022-09-21 09:55] ktock commented on #742
Feel free to reopen this with additional info if it's still an issue.

[2022-09-21 09:55] #742 closed

[2022-09-22 14:55] gabrieldemarmiesse commented on #715
@ktock it's done. When in a pull request, the CI will only try to convert the images, but will not try to push them

We can transfer the repo. Since I made a lot of commits just for testing purposes, you might want to squash the whole history into one commit :)

[2022-10-05 00:01] ktock commented on #715
@gabrieldemarmiesse

FYI: https://github.com/stargz-containers/image-ci
Thank you for the contribution!

[2022-10-05 06:35] gabrieldemarmiesse commented on #715
Very cool! :)

[2022-10-17 00:30] ktock commented on #715
Now images are created from our CI. Closing this issue.

https://github.com/containerd/stargz-snapshotter/blob/4aaaf58ab09e7e77722b476c6e09673296425edb/docs/pre-converted-images.md

[2022-10-17 00:30] #715 closed

[2022-10-25 01:58] qi0523 commented on #668
I want to implement P2P lazy pulling with containerd and stargz-snapshotter. Each node deploys a `agent` listening to 5001, which implements p2p distribution.
When i use `ctr-remote image rpull 192.168.56.101:5001/qi0523/ubuntu:latest` to pull image lazily. I find that `index.json`, `manifest.json`, `config.json` can be downloaded from `agent`.

[2022-10-25 05:26] ktock commented on #668
@qi0523 Could you provide a reproducible step and the log for that issue?
There are several docs for IPFS + stargz-snapshotter. Have you followed some of these steps?

- https://github.com/containerd/stargz-snapshotter/blob/v0.12.1/docs/ipfs.md
- https://github.com/containerd/nerdctl/tree/v1.0.0/examples/nerdctl-ipfs-registry-kubernetes/ipfs-stargz-snapshotter

[2022-10-25 06:43] qi0523 commented on #668
Thanks.

The `agent` is a simple component implemented by myself.
It uses the image data under the directory`(/var/lib/containerd/io.containerd.content.v1.content/blobs/sha256)` to serve HEAD and GET requests, such as `http://xxx/v2/xxx/manifests/xxx`  and `http://xxx/v2/xxx/blobs/xxx`

[2022-10-25 07:19] ktock commented on #668
@qi0523 So you're implementing your own registry API, right? Does that API fully implements OCI Distribution Spec? For successful lazy pulling, it needs to implement HTTP Range Request for blobs API at least.

Could you provide the log printed by stargz snapshotter (containerd-stargz-grpc) so that we can deeply investigate the issue?

You can also find the registry client logic at https://github.c

[2022-10-25 08:24] qi0523 commented on #668
Yes, i read the code of `distribution/distribution` and use `http.ServeContent(w, r, dgst.String(), time.Time{}, br)` to implement HTTP Range Request for blobs API.

![logs](https://user-images.githubusercontent.com/42767692/197721567-61f182bc-fa7f-4c7d-b8e6-1c85a958daa9.png)

The logs show that stargz snapshotter can not extract `sha256:73d944bd82`

[2022-10-25 08:31] ktock commented on #668
@qi0523 The error logs look truncated. Could you copy them and post here as text?

[2022-10-25 08:50] ktock commented on #668
@qi0523

The error message says the `server gave HTTP response to HTTPS client`. So could you configure stargz snapshotter (/etc/containerd-stargz-grpc/config.toml) to use plain HTTP for connecting to your registry?

https://github.com/containerd/stargz-snapshotter/blob/v0.12.1/docs/overview.md#registry-mirrors-and-insecure-connection

[2022-10-25 09:06] qi0523 commented on #668
Thanks.

Another question is that when we use stargz-snaphotter, `layer.tar` doesn't exist in directory `/var/lib/containerd/io.containerd.content.v1.content/blobs/sha256`.

The data of `/var/lib/containerd-stargz-grpc/` can be used to serve blob GET request?

[2022-10-25 10:48] ktock commented on #668
@qi0523

This is because of lazy pulling. containerd doesn't pull layer blobs but stargz-snapshotter lazily pulls chunks of layer blobs.

Yes. Blobs are stored under that directory and they are chunked. Note that some chunks of blobs can be lack until stargz-snapshotter completes downloading the entire blob contents to the node.

The followings are some of packages managing them:

- https://github

[2022-10-28 05:46] gaius-qi opened #966 "Estargz integrates Dragonfly P2P"
I am a Maintainer of [Dragonfly](https://github.com/dragonflyoss/Dragonfly2). Does estargz need to combine Dragonfly's P2P transfer function to speed up image loading? Integrate like Nydus and Dragonfly, refer to https://d7y.io/docs/setup/integration/nydus.

If estargz and dragonfly P2P integration is feasible, our two communities can work together to do a good job in the image acceleration ecosys

[2022-10-28 06:44] ktock commented on #966
@gaius-qi Thanks for the proposal. SGTM :+1:

[2022-10-28 07:07] gaius-qi commented on #966
Whether estargz can support a mirror mode similar to nydus? Estargz proxy download requests to Dragonfly.

[2022-10-28 07:18] ktock commented on #966
@gaius-qi Yes, stargz-snapshotter supports registry mirrors:

https://github.com/containerd/stargz-snapshotter/blob/v0.12.1/docs/overview.md#registry-mirrors-and-insecure-connection

[code]

[2022-10-31 02:45] gaius-qi commented on #966
Does it support custom headers?

Registry that controls the final Dragonfly access by adding the `X-Dragonfly-Registry` Header:

![image](https://user-images.githubusercontent.com/15955374/198920153-db125c05-8c21-496c-988a-6bf7f12845c3.png)

[2022-10-31 04:19] jonyhy96 opened #968 "HTTP PROXY and HTTPS PROXY"
Does stargz-snapshotter support http_proxy or https_proxy env?

[2022-10-31 04:20] jonyhy96 commented on #968
If there is configuration i can use to config those proxy

[2022-10-31 07:50] ktock commented on #968
@jonyhy96 Yes, it does. Please open an issue if you observe it doesn't.

[2022-10-31 07:50] #968 closed

[2022-11-03 08:58] gaius-qi commented on #966
cc @ktock

[2022-11-04 09:49] gaius-qi commented on #966
How can I clear the local cache of estargz?

[2022-11-04 10:46] gaius-qi commented on #966
Please help us supplement the documentation for the stargz usage section.https://github.com/dragonflyoss/d7y.io/pull/178

[2022-11-07 02:27] #340 closed

[2022-11-08 05:56] ktock commented on #966
@gaius-qi

Added a comment

PTAL https://github.com/containerd/stargz-snapshotter/pull/983 Does this work for your use-case?

[2022-11-08 07:48] gaius-qi commented on #966
Sure, this is work for my use-case https://github.com/containerd/stargz-snapshotter/pull/983

This is the [document](https://d7y.io/docs/setup/integration/stargz) and perf test. If there is any part of stargz that can be optimized, you can tell me, and I will retest the new data.

Document: https://d7y.io/docs/setup/integration/stargz

[2022-11-08 07:52] gaius-qi commented on #966
There is another question that can describe the situation of mirror mode to me, how does stargz exchange auth token.

I have a problem now that the first time get blobs from dragonfly mirror returns 401, then `stargz` goes to the auth service to exchange for the auth token, and the second time `stargz` request dragonfly mirror with the token, it still returns 401.

How can I get the stargz logs to

[2022-11-08 08:01] ktock commented on #966
@gaius-qi

Which auth method are you using? There are 3 methods are supported as of now: https://github.com/containerd/stargz-snapshotter/blob/v0.12.1/docs/overview.md#registry-related-configuration

Stargz-snapshotter reports `failed to prepare remote snapshot` warning log when it fails to connect to the registry. Could you provide the log around that message?

[2022-11-09 06:56] gaius-qi commented on #966
stargz-snapshotter log

[code]

dragonfly log

Stargz request `docker.io/dragonflyoss/python:3.9.15-esgz/sha256:901dd0fafa45824e73854cf39cb1890dcb5620eac7c9f31287b27757aab65d82` blob first time and dragonfly response `401`.

[code]

Stargz request `docker.io/dragonflyoss/python:3.9.15-esgz/sha256:901dd0fafa45824e73854cf39cb1890dcb5620eac7c9f31287b27757aab65d82` blob second time with `Authorization

[2022-11-09 07:41] gaius-qi commented on #966
There should be no problem now, it was caused by dirty data before.

[2022-11-09 07:42] gaius-qi commented on #966
@ktock

Which version can be released?

[2022-11-09 13:43] gaius-qi commented on #966
Change eStargz version to `v0.13.0`: https://github.com/dragonflyoss/d7y.io/pull/180

[2022-11-10 03:40] gaius-qi commented on #966
I'm going to post this [article](https://d7y.io/docs/setup/integration/stargz/) to the [cncf.io blog](https://www.cncf.io/blog/), do you have any suggestions?

[2022-11-10 09:04] ktock commented on #966
@gaius-qi

I'm curious about that lazy pulling of eStargz `node:19.0` image takes 10s+ in the "Performance testing" section in the linked document. What can be the major bottleneck there (too many prefetch bytes)?

[2022-11-11 02:54] gaius-qi commented on #966
OCIv1:
![image](https://user-images.githubusercontent.com/15955374/201252330-57a79721-0a1b-4690-9786-34c3ae498c15.png)

eStargz:
![image](https://user-images.githubusercontent.com/15955374/201252643-b287c498-1132-4ec4-af65-8190eb2652a5.png)

I am running `node --version`.

[2022-11-16 18:38] SergeyKanzhelev opened #1005 "upgrade CRI to v1 from v1alpha2"
k8s 1.26 dropping support for v1alpha2 of CRI https://github.com/kubernetes/kubernetes/pull/110618
. Consider switching the CRI version in snapshotter as well.

[2022-11-21 03:44] gaius-qi commented on #966
I'm closing this issue. If you have any other questions, let's keep in touch. If you have any questions, you can send me an email at gaius.qi@gmail.com, or you can submit an issue in [dragonfly's issue](https://github.com/dragonflyoss/Dragonfly2/issues).

[2022-11-21 03:44] #966 closed